In [1]:
import pandas as pd
from tqdm import tqdm
import nltk.data
import re
import spacy
from tqdm import tqdm
import os

nlp = spacy.load('en')
tokenizer = nltk.data.load('nltk:tokenizers/punkt/english.pickle')

In [2]:
# os.chdir('Data/Daily Sun')
# files = [os.path.abspath(x) for x in os.listdir()]

In [3]:
# list_of_df = []
# for i in files:
#     df = pd.read_json(i, lines=True)
#     list_of_df.append(df)

# df = pd.concat(list_of_df, ignore_index=True)

In [4]:
# def find_entities(text):
#     doc = nlp(text)
#     location = []
#     organization = []
#     person = []
#     for entity in doc.ents:
#         if (entity.label_ == "LOC" or entity.label_ == "GPE"):
#             location.append(entity.text)
#         elif (entity.label_ == "ORG"):
#             organization.append(entity.text)
#         elif (entity.label_ == "PERSON"):
#             person.append(entity.text)
#     location = list(set(location))
#     organization = list(set(organization))
#     person = list(set(person))
#     return location, organization, person

In [5]:
# df.head()

In [6]:
# tqdm.pandas()
# df['location_entities'], df['organization_entities'], df['person_entities'] = zip(*df['news_content'].progress_apply(find_entities))

In [7]:
# def find_entities(text):
#     doc = nlp(text)
#     location = []
#     organization = []
#     person = []
#     for entity in doc.ents:
#         if (entity.label_ == "LOC" or entity.label_ == "GPE"):
#             location.append(entity.text)
#         elif (entity.label_ == "ORG"):
#             organization.append(entity.text)
#         elif (entity.label_ == "PERSON"):
#             person.append(entity.text)
#     location = list(set(location))
#     organization = list(set(organization))
#     person = list(set(person))
#     return location, organization, person

In [9]:
df = pd.read_pickle('Data/Daily Sun/DailySun_ent_1.pkl')

In [10]:
df.head()

,_id,date_published,image,news_content,news_id,newspaper,reporter,section,url,location_entities,organization_entities,person_entities
0,{'$oid': '5af44bf218ce4223c32284b0'},2012-06-01,"{'src': None, 'caption': None}",ATN BANGLA 19:00 22:00 23:00 Channel i 7:00 ...,32538,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,[],[],[]
1,{'$oid': '5af44bf318ce4223c32284b1'},2012-06-01,{'src': 'http://www.daily-sun.com/assets/news_...,Channel i 18:00 City Bank N A Financial Quiz ...,32535,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[Sarabhai, Catalunya, Uposhonghar, The Dark En...","[Stuart Little, Golpo Sholpo Gaan, Fan Club To...","[16:30 Drama Serial, Ghatak Baki Bhai , 19:50..."
2,{'$oid': '5af44bf318ce4223c32284b2'},2012-06-01,"{'src': None, 'caption': None}",Music lovers in Dhaka will be entertained with...,32533,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[Hyderabad, South Asia , India, South Asia, P...","[Dhaka, the Pakistan High Commission]","[Sabri Qawals, Fateh Ali Khan, Qawwali]"
3,{'$oid': '5af44bf318ce4223c32284b3'},2012-06-01,{'src': 'http://www.daily-sun.com/assets/news_...,Group Art Exhibition Title- Freefall By- 5 y...,32536,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,[Bangladesh],"[8:00pm Solo Art Exhibition, 3:00pm to 9:00...","[Gulshan-1, de Dhaka, Uttara , Dhanmondi, Ben..."
4,{'$oid': '5af44bf418ce4223c32284b4'},2012-06-01,{'src': 'http://www.daily-sun.com/assets/news_...,With a number of rich feathers in his cap inc...,32539,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[Crafts, India, Kishoreganj, New York, Uttara,...","[GalleriKaya, Ekushey Padak , Hamiduzzaman, ...","[Hamid, Hamiduzzaman Khan, Hamiduzzaman, Ragha..."