In [29]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
import collections
import itertools
import numpy as np

tqdm.pandas()

In [30]:
df = pd.read_pickle('Data/Processed Data/Networks/DT-network.pkl')

In [31]:
df['entity0'] = df['entity0'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)
df['entity1'] = df['entity1'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)

In [32]:
df.head()

,_id,timestamp,entity0,type0,entity1,type1,quote,headline,keywords,original_tags
0,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Bangladesh,location,Amaq News Agency,organization,"Several hours after the killing, SITE ran a re...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
1,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Noni Gopal,person,Nityanando,person,"Noni Gopal Debnath, another resident of the As...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
2,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Dhaka Tribune,organization,Pabna Alamgir Kabir,person,"Superintendent of Police, Pabna Alamgir Kabir ...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
3,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Islami Chhatra Shibir,organization,Munshi Abu,organization,"Acting on tip-off, a team of police arrested A...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
4,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Islami Chhatra Shibir,organization,Abdus Sattar,person,"Acting on tip-off, a team of police arrested A...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]

In [33]:
# G = nx.from_pandas_edgelist(df, 'entity0', 'entity1', create_using=nx.Graph())

In [34]:
G = nx.Graph()

In [35]:
network_type = 'person'
count = 0
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    if row['type0'] in network_type and row['type1'] in network_type:
        # print(row['entity0'], row['entity1'])
        count += 1
        G.add_edge(row['entity0'], row['entity1'])
        
print(count)

100%|██████████| 247369/247369 [00:13<00:00, 18535.71it/s]

24925

In [36]:
len(G.nodes)

10132

In [69]:
len(G.edges)

16866

In [37]:
nx.density(G)

0.00032863994112966957

In [38]:
nx.is_connected(G)

False

In [39]:
pr_G = nx.pagerank(G)
sorted(pr_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.00871494654182028),
 ('Khaleda Zia', 0.006527625334761853),
 ('Ershad', 0.003362946337275783),
 ('Hossain', 0.0023554989532027755),
 ('Rahman', 0.0022351802397646),
 ('Monirul', 0.0020809714059857294),
 ('Khokon', 0.0020029827831596924),
 ('Nur Hossain', 0.001861798382496689),
 ('Babul', 0.0018555368742018648),
 ('Tarique Rahman', 0.0017628393955292428),
 ('Ziaur Rahman', 0.00155272881742216),
 ('Kamal', 0.0015279512046905866),
 ('Mizanur Rahman', 0.0014902815077797794),
 ('Hannan', 0.0013829262783952646),
 ('Masud', 0.0013666953228968159),
 ('Shamim', 0.0013530665774883655),
 ('Mamun', 0.0013335490807444778),
 ('Latif', 0.0013117671578834465),
 ('Kabir', 0.001274719249852544),
 ('Bangabandhu Sheikh Mujibur Rahman', 0.0012723027199051874)]

In [40]:
len(pr_G.items())

10132

In [41]:
G.remove_edges_from(G.selfloop_edges())
sorted(nx.core_number(G).items(), key= lambda x:x[1], reverse=True)[:20]

[('Mahmudul Haque Munshi Gonojagoron Moncho', 9),
 ('Muhammad Zafar Iqbal', 9),
 ('Syed Anwar Hossain', 9),
 ('Nasiruddin Yusuf', 9),
 ('Arefin Siddique', 9),
 ('Sangeeta Imam', 9),
 ('Shahriar Kabir', 9),
 ('Ramendu Majumdar', 9),
 ('Hasanul Haque', 9),
 ('Sarker', 9),
 ('Ruhul Kabir Rizvi', 8),
 ('Kamal', 8),
 ('Mirza Fakhrul Islam Alamgir', 8),
 ('Mirza Fakhrul', 8),
 ('Mahfuz Anam', 8),
 ('Ziaur Rahman', 8),
 ('Shamim', 8),
 ('Asaduzzaman Khan Kamal', 8),
 ('Hasan Mahmud', 8),
 ('Hanif', 8)]

In [42]:
len(nx.core_number(G))

10132

In [43]:
df = pd.read_pickle('Data/DT/DT.pkl')

In [44]:
df.head()

,_id,is_negative,news_crawled_date,news_headline,news_image_urls,news_keywords,news_location,news_ml_tags,news_naive_tags,news_original_tags,news_publish_date,news_reporters,news_text,news_url,newspaper_name,newspaper_url,locations_unique,organizations_unique,persons_unique
0,{'$oid': '575f79f55388c1567baebb2a'},True,{'$date': '2016-06-13T23:28:50.269Z'},Ashram residents remain in panic,[http://www.dhakatribune.com/sites/default/fil...,"[bangladesh, ashram, monastery, nityanando, mo...",Pabna,NaN,[crime],[crime],{'$date': '2016-06-14T01:28:00.000Z'},[[Md Emroz Khandakar]],People who live in Sri Sri Thakur Anukulchandr...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,[Bangladesh],"[morning. Nityanando, Ishwardi Upazila Health ...","[Abdus Sattar, Noni Gopal, Hemayetpur Dham, Pa..."
1,{'$oid': '575f79f85388c1567baebb2b'},True,{'$date': '2016-06-13T23:28:54.437Z'},Bangladeshi abducted from Bandarban border,[http://www.dhakatribune.com/sites/default/fil...,"[naikkangchhari, area, bandarban, woodcutters,...",Bandarban,NaN,[crime],[bangladesh],{'$date': '2016-06-14T01:27:00.000Z'},[[S Bashu Das]],Separatists in Myanmar abducted a Bangladeshi ...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Bandarban, Dochhari, Myanmar]","[Naikkangchhari, Naikkangchhari BGB]","[Hedman, Abul Khayer, Col Azim, Ula Mang Marma]"
2,{'$oid': '575f79fc5388c1567baebb2c'},True,{'$date': '2016-06-13T23:28:57.408Z'},‘Narayanganj killing was pre-planned’,[http://www.dhakatribune.com/sites/default/fil...,"[murder, rab, picked, preplanned, vehicles, ki...",Narayanganj,NaN,[crime],[crime],{'$date': '2016-06-14T01:25:00.000Z'},[[Tanveer Hossain]],Two personnel of the Rapid Action Battalion ye...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,"[Narayganj, Shitalakya, Narayanganj]","[Rapid Action Battalion, Shitalakhya River., N...","[Syed Enayetur Rahman, Arif Hossain, Nazrul, R..."
3,{'$oid': '575f79fe5388c1567baebb2d'},True,{'$date': '2016-06-13T23:29:00.538Z'},Slum kids see no future without birth registra...,[http://www.dhakatribune.com/sites/default/fil...,"[dhaka, school, kids, pay, slum, shabnam, pall...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:24:00.000Z'},[Mohammad Jamil Khan],Thirteen-year-old Shabnam had big dreams for h...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Dhaka, Pallabi, Mirpur, New Kurmitola]","[NGO, The Dhaka Tribune, the Urban Primary Hea...",[Shabnam]
4,{'$oid': '575f7a015388c1567baebb2e'},True,{'$date': '2016-06-13T23:29:03.326Z'},Mobile-based agro advisory service makes farme...,[http://www.dhakatribune.com/sites/default/fil...,"[advisory, life, grameenphone, service, farmer...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:22:00.000Z'},[Abu Bakar Siddique],Amela Begum in Rangpur believes she could have...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,[Rangpur],"[Grameenphone, Oxfam Bangladesh’s ICT, Departm...","[Shefali Rani, Hanif]"

In [45]:
count = collections.Counter([item for sublist in df['persons_unique'] for item in sublist])

In [46]:
count.most_common()[:20]

[('Sheikh Hasina', 4543),
 ('Khaleda Zia', 2616),
 ('Bangabandhu Sheikh Mujibur Rahman', 739),
 ('Abdul Hamid', 653),
 ('Mirza Fakhrul Islam Alamgir', 639),
 ('Mizanur Rahman', 551),
 ('Tarique Rahman', 477),
 ('Obaidul Quader', 433),
 ('Motiur Rahman Nizami', 395),
 ('Abul Kalam', 393),
 ('Ershad', 353),
 ('Abul Kalam Azad', 341),
 ('Abul Maal Abdul Muhith', 334),
 ('Ziaur Rahman', 334),
 ('Anwar Hossain', 304),
 ('Mahbubey Alam', 299),
 ('Habibur Rahman', 299),
 ('Nurul Islam Nahid', 288),
 ('Asaduzzaman Khan Kamal', 276),
 ('Shahidul Haque', 264)]

In [47]:
len(count)

42440

In [48]:
# Find number of times entity appear in headlines

# Here's an idea: Add another column to the DF. Check if Person entity exists in headline or not.
# Make a dictionary as a counter like: {"Person a": 1, "Person b": 0} and put it in the new column

# Also, network probably could've been done like this. In a new column, we could've had list of lists with the combinations.

# Find number of times entity appear in article

In [49]:
# a = {"a": 20, "b":10}
# e = {"a":40, "c":15}

# collections.Counter(a) + collections.Counter(e)

In [50]:
df = pd.read_pickle('Data/DT/DT.pkl')

In [51]:
# df['person_in_headline'] = df[['news_headline', 'persons_unique']].apply()

In [52]:
df.head()

,_id,is_negative,news_crawled_date,news_headline,news_image_urls,news_keywords,news_location,news_ml_tags,news_naive_tags,news_original_tags,news_publish_date,news_reporters,news_text,news_url,newspaper_name,newspaper_url,locations_unique,organizations_unique,persons_unique
0,{'$oid': '575f79f55388c1567baebb2a'},True,{'$date': '2016-06-13T23:28:50.269Z'},Ashram residents remain in panic,[http://www.dhakatribune.com/sites/default/fil...,"[bangladesh, ashram, monastery, nityanando, mo...",Pabna,NaN,[crime],[crime],{'$date': '2016-06-14T01:28:00.000Z'},[[Md Emroz Khandakar]],People who live in Sri Sri Thakur Anukulchandr...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,[Bangladesh],"[morning. Nityanando, Ishwardi Upazila Health ...","[Abdus Sattar, Noni Gopal, Hemayetpur Dham, Pa..."
1,{'$oid': '575f79f85388c1567baebb2b'},True,{'$date': '2016-06-13T23:28:54.437Z'},Bangladeshi abducted from Bandarban border,[http://www.dhakatribune.com/sites/default/fil...,"[naikkangchhari, area, bandarban, woodcutters,...",Bandarban,NaN,[crime],[bangladesh],{'$date': '2016-06-14T01:27:00.000Z'},[[S Bashu Das]],Separatists in Myanmar abducted a Bangladeshi ...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Bandarban, Dochhari, Myanmar]","[Naikkangchhari, Naikkangchhari BGB]","[Hedman, Abul Khayer, Col Azim, Ula Mang Marma]"
2,{'$oid': '575f79fc5388c1567baebb2c'},True,{'$date': '2016-06-13T23:28:57.408Z'},‘Narayanganj killing was pre-planned’,[http://www.dhakatribune.com/sites/default/fil...,"[murder, rab, picked, preplanned, vehicles, ki...",Narayanganj,NaN,[crime],[crime],{'$date': '2016-06-14T01:25:00.000Z'},[[Tanveer Hossain]],Two personnel of the Rapid Action Battalion ye...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,"[Narayganj, Shitalakya, Narayanganj]","[Rapid Action Battalion, Shitalakhya River., N...","[Syed Enayetur Rahman, Arif Hossain, Nazrul, R..."
3,{'$oid': '575f79fe5388c1567baebb2d'},True,{'$date': '2016-06-13T23:29:00.538Z'},Slum kids see no future without birth registra...,[http://www.dhakatribune.com/sites/default/fil...,"[dhaka, school, kids, pay, slum, shabnam, pall...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:24:00.000Z'},[Mohammad Jamil Khan],Thirteen-year-old Shabnam had big dreams for h...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Dhaka, Pallabi, Mirpur, New Kurmitola]","[NGO, The Dhaka Tribune, the Urban Primary Hea...",[Shabnam]
4,{'$oid': '575f7a015388c1567baebb2e'},True,{'$date': '2016-06-13T23:29:03.326Z'},Mobile-based agro advisory service makes farme...,[http://www.dhakatribune.com/sites/default/fil...,"[advisory, life, grameenphone, service, farmer...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:22:00.000Z'},[Abu Bakar Siddique],Amela Begum in Rangpur believes she could have...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,[Rangpur],"[Grameenphone, Oxfam Bangladesh’s ICT, Departm...","[Shefali Rani, Hanif]"

In [53]:
def person_in_headline(headline, persons):
    headline_dict = {}
    for i in persons:
        if i in headline:
            if i in headline_dict:
                headline_dict[i] += 1
            else:
                headline_dict[i] = 1
    return headline_dict

In [54]:
df['person_in_headline'] = np.vectorize(person_in_headline)(df['news_headline'], df['persons_unique'])

In [55]:
def person_in_text(text, persons):
    text_dict = {}
    for person in persons:
        text_dict[person] = text.count(person)
    return text_dict

In [56]:
df['person_in_text'] = np.vectorize(person_in_text)(df['news_text'], df['persons_unique'])

In [57]:
count_person_in_text = sum(map(collections.Counter, df['person_in_text'].values.tolist()), collections.Counter())

In [205]:
df_text = pd.DataFrame.from_dict(count_person_in_text, orient='index')

In [59]:
count_person_in_headline = sum(map(collections.Counter, df['person_in_headline'].values.tolist()), collections.Counter())

In [206]:
df_headline = pd.DataFrame.from_dict(count_person_in_headline, orient='index')

In [61]:
df_headline.shape

(1563, 1)

In [62]:
df_text.shape

(41528, 1)

In [63]:
df.shape

(49055, 21)

In [64]:
total_persons_unique = set(df['persons_unique'].sum())

In [67]:
len(total_persons_unique)

42440

In [66]:
df.shape

(49055, 21)

In [198]:
pagerank = pd.DataFrame.from_dict(pr_G, orient='index')
pagerank = pagerank.reset_index()
pagerank = pagerank.sort_values(by='index')
pagerank.columns = ['name', 'pr']

In [215]:
G.remove_edges_from(G.selfloop_edges())
core = nx.core_number(G)

In [217]:
core_periphery = pd.DataFrame.from_dict(core, orient='index')
core_periphery = core_periphery.reset_index()
core_periphery = core_periphery.sort_values(by='index')
core_periphery.columns = ['name', 'cp']

In [219]:
count = dict(count)
person_count = pd.DataFrame.from_dict(count, orient='index')
person_count = person_count.reset_index()
person_count = person_count.sort_values(by='index')
person_count.columns = ['name', 'count']

In [220]:
df_headline = df_headline.reset_index()
df_headline = df_headline.sort_values(by='index')
df_headline.columns = ['name', 'headline_count']

In [221]:
df_text = df_text.reset_index()
df_text = df_text.sort_values(by='index')
df_text.columns = ['name', 'text_count']

In [278]:
ml = pd.DataFrame()

In [279]:
ml = pd.merge(pagerank, core_periphery, on="name")

In [280]:
ml = pd.merge(ml, person_count, on="name", how="left")

In [281]:
ml = pd.merge(ml, df_headline, on="name", how="left")

In [282]:
ml = pd.merge(ml, df_text, on="name", how="left")

In [283]:
ml.fillna(0, inplace=True)

In [284]:
ml.drop(ml.index[0:9], inplace=True)
ml.reset_index(drop=True, inplace=True)

In [285]:
ml.drop(ml.index[-7:], inplace=True)