In [2]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
import collections
import itertools
import numpy as np
import datetime
import json
from dateutil import parser

tqdm.pandas()

## Dhaka Tribune

In [2]:
df = pd.read_pickle('Data/Processed Data/Networks/DT-network.pkl')

In [3]:
df['entity0'] = df['entity0'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)
df['entity1'] = df['entity1'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)

In [120]:
G = nx.Graph()
network_type = 'person'
count = 0
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    if row['type0'] in network_type and row['type1'] in network_type:
        # print(row['entity0'], row['entity1'])
        count += 1
        G.add_edge(row['entity0'], row['entity1'])

print(count)

100%|██████████| 247369/247369 [00:14<00:00, 16828.93it/s]

24925

In [121]:
print(len(G.nodes))
print(len(G.edges))
print(nx.density(G))

10132
16867
0.00032863994112966957

In [122]:
degree_centrality_G = nx.degree_centrality(G)
sorted(degree_centrality_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.042740104629355444),
 ('Khaleda Zia', 0.03405389398874741),
 ('Ershad', 0.017471128220313888),
 ('Hossain', 0.011252591057151318),
 ('Rahman', 0.010759056361662226),
 ('Monirul', 0.010166814727075313),
 ('Khokon', 0.009475866153390584),
 ('Tarique Rahman', 0.009475866153390584),
 ('Nur Hossain', 0.009278452275194946),
 ('Babul', 0.008192675945118941),
 ('Ziaur Rahman', 0.007896555127825486),
 ('Kamal', 0.007797848188727668),
 ('Latif', 0.007008192675945119),
 ('Shamim', 0.007008192675945119),
 ('Mizanur Rahman', 0.0069094857368473),
 ('Masud', 0.0069094857368473),
 ('Hannan', 0.006613364919553845),
 ('Bangabandhu Sheikh Mujibur Rahman', 0.006514657980456026),
 ('Mamun', 0.006218537163162571),
 ('Kabir', 0.0060211232849669335)]

In [123]:
pr_G = nx.pagerank(G)
sorted(pr_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.008714946541820293),
 ('Khaleda Zia', 0.006527625334761857),
 ('Ershad', 0.0033629463372757853),
 ('Hossain', 0.0023554989532027742),
 ('Rahman', 0.0022351802397646016),
 ('Monirul', 0.0020809714059857303),
 ('Khokon', 0.0020029827831596933),
 ('Nur Hossain', 0.001861798382496689),
 ('Babul', 0.0018555368742018644),
 ('Tarique Rahman', 0.0017628393955292435),
 ('Ziaur Rahman', 0.0015527288174221594),
 ('Kamal', 0.0015279512046905853),
 ('Mizanur Rahman', 0.0014902815077797796),
 ('Hannan', 0.0013829262783952648),
 ('Masud', 0.0013666953228968154),
 ('Shamim', 0.0013530665774883661),
 ('Mamun', 0.001333549080744477),
 ('Latif', 0.0013117671578834465),
 ('Kabir', 0.001274719249852543),
 ('Bangabandhu Sheikh Mujibur Rahman', 0.0012723027199051877)]

In [126]:
G.remove_edges_from(G.selfloop_edges())
sorted(nx.core_number(G).items(), key= lambda x:x[1], reverse=True)[:20]

[('Syed Anwar Hossain', 9),
 ('Sarker', 9),
 ('Arefin Siddique', 9),
 ('Hasanul Haque', 9),
 ('Mahmudul Haque Munshi Gonojagoron Moncho', 9),
 ('Ramendu Majumdar', 9),
 ('Muhammad Zafar Iqbal', 9),
 ('Shahriar Kabir', 9),
 ('Sangeeta Imam', 9),
 ('Nasiruddin Yusuf', 9),
 ('Nur', 8),
 ('Siddique', 8),
 ('Osman', 8),
 ('Bangabandhu Sheikh Mujibur Rahman', 8),
 ('Mohammad Nasim', 8),
 ('Abdul Latif', 8),
 ('Nur Hossain', 8),
 ('Mirza Fakhrul', 8),
 ('Kamal Hossain', 8),
 ('Nasim', 8)]

In [17]:
df = pd.read_pickle('Data/DT/DT.pkl')

In [18]:
df.head()

,_id,is_negative,news_crawled_date,news_headline,news_image_urls,news_keywords,news_location,news_ml_tags,news_naive_tags,news_original_tags,news_publish_date,news_reporters,news_text,news_url,newspaper_name,newspaper_url,locations_unique,organizations_unique,persons_unique
0,{'$oid': '575f79f55388c1567baebb2a'},True,{'$date': '2016-06-13T23:28:50.269Z'},Ashram residents remain in panic,[http://www.dhakatribune.com/sites/default/fil...,"[bangladesh, ashram, monastery, nityanando, mo...",Pabna,NaN,[crime],[crime],{'$date': '2016-06-14T01:28:00.000Z'},[[Md Emroz Khandakar]],People who live in Sri Sri Thakur Anukulchandr...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,[Bangladesh],"[morning. Nityanando, Ishwardi Upazila Health ...","[Abdus Sattar, Noni Gopal, Hemayetpur Dham, Pa..."
1,{'$oid': '575f79f85388c1567baebb2b'},True,{'$date': '2016-06-13T23:28:54.437Z'},Bangladeshi abducted from Bandarban border,[http://www.dhakatribune.com/sites/default/fil...,"[naikkangchhari, area, bandarban, woodcutters,...",Bandarban,NaN,[crime],[bangladesh],{'$date': '2016-06-14T01:27:00.000Z'},[[S Bashu Das]],Separatists in Myanmar abducted a Bangladeshi ...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Bandarban, Dochhari, Myanmar]","[Naikkangchhari, Naikkangchhari BGB]","[Hedman, Abul Khayer, Col Azim, Ula Mang Marma]"
2,{'$oid': '575f79fc5388c1567baebb2c'},True,{'$date': '2016-06-13T23:28:57.408Z'},‘Narayanganj killing was pre-planned’,[http://www.dhakatribune.com/sites/default/fil...,"[murder, rab, picked, preplanned, vehicles, ki...",Narayanganj,NaN,[crime],[crime],{'$date': '2016-06-14T01:25:00.000Z'},[[Tanveer Hossain]],Two personnel of the Rapid Action Battalion ye...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,"[Narayganj, Shitalakya, Narayanganj]","[Rapid Action Battalion, Shitalakhya River., N...","[Syed Enayetur Rahman, Arif Hossain, Nazrul, R..."
3,{'$oid': '575f79fe5388c1567baebb2d'},True,{'$date': '2016-06-13T23:29:00.538Z'},Slum kids see no future without birth registra...,[http://www.dhakatribune.com/sites/default/fil...,"[dhaka, school, kids, pay, slum, shabnam, pall...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:24:00.000Z'},[Mohammad Jamil Khan],Thirteen-year-old Shabnam had big dreams for h...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Dhaka, Pallabi, Mirpur, New Kurmitola]","[NGO, The Dhaka Tribune, the Urban Primary Hea...",[Shabnam]
4,{'$oid': '575f7a015388c1567baebb2e'},True,{'$date': '2016-06-13T23:29:03.326Z'},Mobile-based agro advisory service makes farme...,[http://www.dhakatribune.com/sites/default/fil...,"[advisory, life, grameenphone, service, farmer...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:22:00.000Z'},[Abu Bakar Siddique],Amela Begum in Rangpur believes she could have...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,[Rangpur],"[Grameenphone, Oxfam Bangladesh’s ICT, Departm...","[Shefali Rani, Hanif]"

In [19]:
count = collections.Counter([item for sublist in df['persons_unique'] for item in sublist])

In [20]:
count.most_common()[:20]

[('Sheikh Hasina', 4543),
 ('Khaleda Zia', 2616),
 ('Bangabandhu Sheikh Mujibur Rahman', 739),
 ('Abdul Hamid', 653),
 ('Mirza Fakhrul Islam Alamgir', 639),
 ('Mizanur Rahman', 551),
 ('Tarique Rahman', 477),
 ('Obaidul Quader', 433),
 ('Motiur Rahman Nizami', 395),
 ('Abul Kalam', 393),
 ('Ershad', 353),
 ('Abul Kalam Azad', 341),
 ('Ziaur Rahman', 334),
 ('Abul Maal Abdul Muhith', 334),
 ('Anwar Hossain', 304),
 ('Habibur Rahman', 299),
 ('Mahbubey Alam', 299),
 ('Nurul Islam Nahid', 288),
 ('Asaduzzaman Khan Kamal', 276),
 ('Shahidul Haque', 264)]

In [21]:
len(count)

42440

In [24]:
df = pd.read_pickle('Data/DT/DT.pkl')

In [26]:
df.head()

,_id,is_negative,news_crawled_date,news_headline,news_image_urls,news_keywords,news_location,news_ml_tags,news_naive_tags,news_original_tags,news_publish_date,news_reporters,news_text,news_url,newspaper_name,newspaper_url,locations_unique,organizations_unique,persons_unique
0,{'$oid': '575f79f55388c1567baebb2a'},True,{'$date': '2016-06-13T23:28:50.269Z'},Ashram residents remain in panic,[http://www.dhakatribune.com/sites/default/fil...,"[bangladesh, ashram, monastery, nityanando, mo...",Pabna,NaN,[crime],[crime],{'$date': '2016-06-14T01:28:00.000Z'},[[Md Emroz Khandakar]],People who live in Sri Sri Thakur Anukulchandr...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,[Bangladesh],"[morning. Nityanando, Ishwardi Upazila Health ...","[Abdus Sattar, Noni Gopal, Hemayetpur Dham, Pa..."
1,{'$oid': '575f79f85388c1567baebb2b'},True,{'$date': '2016-06-13T23:28:54.437Z'},Bangladeshi abducted from Bandarban border,[http://www.dhakatribune.com/sites/default/fil...,"[naikkangchhari, area, bandarban, woodcutters,...",Bandarban,NaN,[crime],[bangladesh],{'$date': '2016-06-14T01:27:00.000Z'},[[S Bashu Das]],Separatists in Myanmar abducted a Bangladeshi ...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Bandarban, Dochhari, Myanmar]","[Naikkangchhari, Naikkangchhari BGB]","[Hedman, Abul Khayer, Col Azim, Ula Mang Marma]"
2,{'$oid': '575f79fc5388c1567baebb2c'},True,{'$date': '2016-06-13T23:28:57.408Z'},‘Narayanganj killing was pre-planned’,[http://www.dhakatribune.com/sites/default/fil...,"[murder, rab, picked, preplanned, vehicles, ki...",Narayanganj,NaN,[crime],[crime],{'$date': '2016-06-14T01:25:00.000Z'},[[Tanveer Hossain]],Two personnel of the Rapid Action Battalion ye...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,"[Narayganj, Shitalakya, Narayanganj]","[Rapid Action Battalion, Shitalakhya River., N...","[Syed Enayetur Rahman, Arif Hossain, Nazrul, R..."
3,{'$oid': '575f79fe5388c1567baebb2d'},True,{'$date': '2016-06-13T23:29:00.538Z'},Slum kids see no future without birth registra...,[http://www.dhakatribune.com/sites/default/fil...,"[dhaka, school, kids, pay, slum, shabnam, pall...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:24:00.000Z'},[Mohammad Jamil Khan],Thirteen-year-old Shabnam had big dreams for h...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Dhaka, Pallabi, Mirpur, New Kurmitola]","[NGO, The Dhaka Tribune, the Urban Primary Hea...",[Shabnam]
4,{'$oid': '575f7a015388c1567baebb2e'},True,{'$date': '2016-06-13T23:29:03.326Z'},Mobile-based agro advisory service makes farme...,[http://www.dhakatribune.com/sites/default/fil...,"[advisory, life, grameenphone, service, farmer...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:22:00.000Z'},[Abu Bakar Siddique],Amela Begum in Rangpur believes she could have...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,[Rangpur],"[Grameenphone, Oxfam Bangladesh’s ICT, Departm...","[Shefali Rani, Hanif]"

In [77]:
def person_in_headline(headline, persons):
    if headline:
        headline_dict = {}
        for i in persons:
            if i in headline:
                if i in headline_dict:
                    headline_dict[i] += 1
                else:
                    headline_dict[i] = 1
        return headline_dict
    else:
        return {}

In [28]:
df['person_in_headline'] = np.vectorize(person_in_headline)(df['news_headline'], df['persons_unique'])

In [78]:
def person_in_text(text, persons):
    text_dict = {}
    for person in persons:
        text_dict[person] = text.count(person)
    return text_dict

In [30]:
df['person_in_text'] = np.vectorize(person_in_text)(df['news_text'], df['persons_unique'])

In [31]:
count_person_in_text = sum(map(collections.Counter, tqdm(df['person_in_text'].values.tolist())), collections.Counter())

100%|██████████| 49055/49055 [09:48<00:00, 83.38it/s]

In [32]:
df_text = pd.DataFrame.from_dict(count_person_in_text, orient='index')

In [33]:
count_person_in_headline = sum(map(collections.Counter, tqdm(df['person_in_headline'].values.tolist())), collections.Counter())

100%|██████████| 49055/49055 [00:20<00:00, 2340.47it/s]

In [34]:
df_headline = pd.DataFrame.from_dict(count_person_in_headline, orient='index')

In [35]:
pagerank = pd.DataFrame.from_dict(pr_G, orient='index')
pagerank = pagerank.reset_index()
pagerank = pagerank.sort_values(by='index')
pagerank.columns = ['name', 'pagerank']

In [36]:
degree_centrality = pd.DataFrame.from_dict(degree_centrality_G, orient='index')
degree_centrality = degree_centrality.reset_index()
degree_centrality = degree_centrality.sort_values(by='index')
degree_centrality.columns = ['name', 'degree_centrality']

In [37]:
G.remove_edges_from(G.selfloop_edges())
core = nx.core_number(G)

In [38]:
core_periphery = pd.DataFrame.from_dict(core, orient='index')
core_periphery = core_periphery.reset_index()
core_periphery = core_periphery.sort_values(by='index')
core_periphery.columns = ['name', 'core_periphery']

In [39]:
count = dict(count)
person_count = pd.DataFrame.from_dict(count, orient='index')
person_count = person_count.reset_index()
person_count = person_count.sort_values(by='index')
person_count.columns = ['name', 'count']

In [40]:
df_headline = df_headline.reset_index()
df_headline = df_headline.sort_values(by='index')
df_headline.columns = ['name', 'headline_count']

In [41]:
df_text = df_text.reset_index()
df_text = df_text.sort_values(by='index')
df_text.columns = ['name', 'text_count']

In [42]:
ml = pd.DataFrame()

In [43]:
ml = pd.merge(pagerank, core_periphery, on="name")

In [44]:
ml = pd.merge(ml, degree_centrality, on="name")

In [45]:
ml = pd.merge(ml, person_count, on="name", how="left")

In [46]:
ml = pd.merge(ml, df_headline, on="name", how="left")

In [47]:
ml = pd.merge(ml, df_text, on="name", how="left")

In [48]:
ml.fillna(0, inplace=True)

In [49]:
ml.drop(ml.index[0:9], inplace=True)
ml.reset_index(drop=True, inplace=True)

In [50]:
ml.drop(ml.index[-7:], inplace=True)

In [158]:
# ml.to_pickle('Data/Processed Data/ML/DT-ml.pkl')

## New Age

In [4]:
df = pd.read_pickle('Data/Processed Data/Networks/NA-network.pkl')

In [5]:
df.head()

,_id,timestamp,entity0,type0,entity1,type1,quote,headline,keywords,category
0,118,2016-10-01,Naogaon,location,Sheikh Hasina,person,"""General elections would be held under prime m...",No national polls before 2019: Nasim,"[General elections, Mohammad Nasim, national p...",Bangladesh
1,118,2016-10-01,Naogaon,location,Noujoan,person,"""General elections would be held under prime m...",No national polls before 2019: Nasim,"[General elections, Mohammad Nasim, national p...",Bangladesh
2,118,2016-10-01,Sheikh Hasina,person,Noujoan,person,"""General elections would be held under prime m...",No national polls before 2019: Nasim,"[General elections, Mohammad Nasim, national p...",Bangladesh
3,118,2016-10-01,Workers Party,organization,Advocate Enamul Haque,organization,Workers Party general secretary Fazle Hossain ...,No national polls before 2019: Nasim,"[General elections, Mohammad Nasim, national p...",Bangladesh
4,118,2016-10-01,Workers Party,organization,NAP,organization,Workers Party general secretary Fazle Hossain ...,No national polls before 2019: Nasim,"[General elections, Mohammad Nasim, national p...",Bangladesh

In [6]:
df.shape

(820506, 10)

In [7]:
G = nx.Graph()

In [8]:
network_type = 'person'
exclusions = ['Rakhine', 'Test', 'Dhaka', 'Bangla', 'Bangladesh', 'Narayanganj', 'AL', 'Gulshan', 'Dhanmondi', 'Bogra', 'Rongpur', 'Barisal', 'Rangpur', 'Comilla', 'Chelsea', 'Rajshahi', 'Mymensingh', 'Sadar', 'Sylhet', 'Cox', 'Twitter', 'Barca', 'Kolkata', 'Teknaf', 'Ukhiya', 'Bandarban', 'Tripura', 'Abahani']
count = 0
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    if row['type0'] in network_type and row['type1'] in network_type:
        if row['entity0'] not in exclusions and row['entity1'] not in exclusions:
            # print(row['entity0'], row['entity1'])
            count += 1
            G.add_edge(row['entity0'], row['entity1'])
        
print(count)

100%|██████████| 820506/820506 [00:45<00:00, 18164.95it/s]

79369

In [10]:
print(len(G.nodes))
print(len(G.edges))

23874
64591

In [135]:
degree_centrality_G = nx.degree_centrality(G)
sorted(degree_centrality_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.02530054873706698),
 ('Donald Trump', 0.02127926946759938),
 ('Khaleda Zia', 0.00959242659070917),
 ('Putin', 0.00908976668202572),
 ('Clinton', 0.00908976668202572),
 ('Rahman', 0.007875005236040716),
 ('Khan', 0.007707451933146233),
 ('Ali', 0.00758178695597537),
 ('Mustafizur Rahman', 0.006618355464332091),
 ('Quader', 0.006325137184266745),
 ('Tofail Ahmed', 0.006241360532819503),
 ('Suu Kyi', 0.006157583881372262),
 ('Abdul Hamid', 0.00607380722992502),
 ('Nasir', 0.005906253927030537),
 ('Barack Obama', 0.005696812298412433),
 ('Abdur Razzak', 0.0056549239726888115),
 ('Bush', 0.005529258995517949),
 ('Mujib', 0.005403594018347087),
 ('Mourinho', 0.0052779290411762245),
 ('Aung San Suu Kyi', 0.005194152389728983)]

In [136]:
pr_G = nx.pagerank(G)
sorted(pr_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.0037001414913652277),
 ('Donald Trump', 0.0031548373939520847),
 ('Clinton', 0.0013093035154407675),
 ('Putin', 0.001299789996375314),
 ('Khaleda Zia', 0.0011680900178250371),
 ('Rahman', 0.0010655812015762424),
 ('Suu Kyi', 0.0010376351665081164),
 ('Khan', 0.0010131492923911812),
 ('Ali', 0.0009877530259421324),
 ('Quader', 0.0008565130683169669),
 ('Barack Obama', 0.000829358489329522),
 ('Aung San Suu Kyi', 0.0008197711494205),
 ('Tofail Ahmed', 0.0007154948183082824),
 ('Bush', 0.0007082834379158773),
 ('Kim', 0.0007014877986340841),
 ('Abdul Hamid', 0.0006913300533997927),
 ('Jamaat', 0.000679614134857867),
 ('Md', 0.0006772518321823965),
 ('Vladimir Putin', 0.0006442993711699449),
 ('Oscar', 0.0006373263175412666)]

In [137]:
G.remove_edges_from(G.selfloop_edges())
sorted(nx.core_number(G).items(), key= lambda x:x[1], reverse=True)[:20]

[('Chittaranjan Bhuiyan', 35),
 ('Hazrat Ali Bayati', 35),
 ('Abu Nowsher', 35),
 ('Jahirul Haque', 35),
 ('Gitosree Chowdhury', 35),
 ('Khandker Raju Ahmed', 35),
 ('Milon Bhattacharjee', 35),
 ('Anu Islam', 35),
 ('Azharul Islam', 35),
 ('Shafiur Rahman Dulu', 35),
 ('Abul Kalam Azad', 35),
 ('Abu Bakar Siddique', 35),
 ('Sajeda Khatun', 35),
 ('Sujit Roy', 35),
 ('Firoj Chowdhury', 35),
 ('Hajen Chandra Pahari', 35),
 ('M Mamun', 35),
 ('Md Nazrul Islam', 35),
 ('Aminur Rahman', 35),
 ('Subrata Sengupta', 35)]

In [138]:
df = pd.read_pickle('Data/New Age/NewAge_ent.pkl')

In [139]:
df.head()

,category,date_published,image,news_content,news_id,newspaper,reporter,tags,title,url,location_entities,organization_entities,person_entities
0,Bangladesh,2016-10-01,"{'captions': [], 'urls': []}",Coordinator of 14-party alliance and health mi...,118,New Age,Bangladesh Sangbad Sangstha,"[General elections, Mohammad Nasim, national p...",No national polls before 2019: Nasim,http://www.newagebd.net/article/118/no-nationa...,[Naogaon],"[BNP, Workers Party, Advocate Enamul Haque, NA...","[Anwar Hossain, Mohammed Nasim, Sheikh Hasina,..."
1,Entertainment,2016-10-01,"{'captions': ['In this July 4, 2015 file photo...","\n\t\t\t\t\t\t\tIn this July 4, 2015 file phot...",83,New Age,Associated Press,"[David Bowie , Rolling Stones]",Concert promoter in $200 million fraud is bip...,http://www.newagebd.net/article/83/concert-pro...,[Indianapolis],"[the Rolling Stones, the Indianapolis Motor Sp...","[Keith Richards, Michael Hughes, Ronnie Wood, ..."
2,Entertainment,2016-10-01,"{'captions': ['In this March 7, 2000 photo, Ri...","\n\t\t\t\t\t\t\tIn this March 7, 2000 photo, R...",86,New Age,Associated Press,"[Oscar Mayer Wiener , Richard Trentlage]",Man who got generations singing Oscar Mayer W...,http://www.newagebd.net/article/86/man-who-got...,"[Fox River Grove, Chicago, Illinois, Ill., Lib...","[McDonald, Oscar Mayer Wiener, Fox River Grove...","[Linda Bruun, Buckle, Richard Trentlage]"
3,Entertainment,2016-10-01,{'captions': ['A 2015 file photo shows The Gre...,\n\t\t\t\t\t\t\tA 2015 file photo shows The Gr...,89,New Age,Associated Press,"[Henri Matisse, National Gallery of Art , Pabl...",National Gallery of Art's East Building set t...,http://www.newagebd.net/article/89/national-ga...,"[The Greek Slave, Washington, DC, The East Bui...","[the National Gallery of Art, AP]","[Henri Matisse, Georgia O'Keefe, Barbara Kruge..."
4,Entertainment,2016-10-01,{'captions': ['This file photo taken on April ...,\n\t\t\t\t\t\t\tThis file photo taken on April...,90,New Age,Agence France-Presse,"[Bob Dylan, European Commission, Michael Jacks...",Sony closes on Michael Jackson's stake in mus...,http://www.newagebd.net/article/90/sony-closes...,"[United States, Jackson, Kanye West]","[The European Commission, the Democratic Natio...","[Pharrell Williams, Paul McCartney, Michael Ja..."

In [140]:
count = collections.Counter([item for sublist in df['person_entities'] for item in sublist])

In [141]:
count.most_common()[:20]

[('Bangladesh', 3010),
 ('Sheikh Hasina', 2513),
 ('Donald Trump', 1871),
 ('Dhaka', 1516),
 ('Khaleda Zia', 995),
 ('Test', 982),
 ('Barack Obama', 668),
 ('Abul Maal Abdul Muhith', 646),
 ('Obaidul Quader', 622),
 ('Rakhine', 611),
 ('Bangabandhu Sheikh Mujibur Rahman', 570),
 ('Sylhet', 561),
 ('Abdul Hamid', 552),
 ('Mirza Fakhrul Islam Alamgir', 537),
 ('Narayanganj', 509),
 ('Narendra Modi', 495),
 ('AL', 433),
 ('Gulshan', 421),
 ('Sakib al Hasan', 413),
 ('Aung San Suu Kyi', 382)]

In [142]:
df['person_in_headline'] = np.vectorize(person_in_headline)(df['title'], df['person_entities'])

In [143]:
df['person_in_text'] = np.vectorize(person_in_text)(df['news_content'], df['person_entities'])

In [144]:
# count_person_in_text = sum(map(collections.Counter, tqdm(df['person_in_text'].values.tolist())), collections.Counter())

100%|██████████| 32893/32893 [14:22<00:00, 38.13it/s]

In [145]:
# df_text = pd.DataFrame.from_dict(count_person_in_text, orient='index')

In [148]:
df_text = pd.read_pickle('Data/Processed Data/Misc/NA-Text-Count.pkl')

In [149]:
count_person_in_headline = sum(map(collections.Counter, tqdm(df['person_in_headline'].values.tolist())), collections.Counter())

100%|██████████| 32893/32893 [00:27<00:00, 1183.28it/s]

In [150]:
df_headline = pd.DataFrame.from_dict(count_person_in_headline, orient='index')

In [151]:
pagerank = pd.DataFrame.from_dict(pr_G, orient='index')
pagerank = pagerank.reset_index()
pagerank = pagerank.sort_values(by='index')
pagerank.columns = ['name', 'pagerank']

degree_centrality = pd.DataFrame.from_dict(degree_centrality_G, orient='index')
degree_centrality = degree_centrality.reset_index()
degree_centrality = degree_centrality.sort_values(by='index')
degree_centrality.columns = ['name', 'degree_centrality']

G.remove_edges_from(G.selfloop_edges())
core = nx.core_number(G)

core_periphery = pd.DataFrame.from_dict(core, orient='index')
core_periphery = core_periphery.reset_index()
core_periphery = core_periphery.sort_values(by='index')
core_periphery.columns = ['name', 'core_periphery']

count = dict(count)
person_count = pd.DataFrame.from_dict(count, orient='index')
person_count = person_count.reset_index()
person_count = person_count.sort_values(by='index')
person_count.columns = ['name', 'count']

df_headline = df_headline.reset_index()
df_headline = df_headline.sort_values(by='index')
df_headline.columns = ['name', 'headline_count']

df_text = df_text.reset_index()
df_text = df_text.sort_values(by='index')
df_text.columns = ['name', 'text_count']

In [152]:
ml = pd.DataFrame()
ml = pd.merge(pagerank, core_periphery, on="name")
ml = pd.merge(ml, degree_centrality, on="name")
ml = pd.merge(ml, person_count, on="name", how="left")
ml = pd.merge(ml, df_headline, on="name", how="left")
ml = pd.merge(ml, df_text, on="name", how="left")
ml.fillna(0, inplace=True)

In [153]:
ml.drop(ml.index[0:59], inplace=True)
ml.reset_index(drop=True, inplace=True)

In [154]:
ml.drop(ml.index[-151:], inplace=True)

In [157]:
# ml.to_pickle('Data/Processed Data/ML/NA-ml.pkl')

## Daily Star

In [11]:
df = pd.read_pickle('Data/Processed Data/Networks/DS-network.pkl')

In [12]:
df.shape

(914208, 10)

In [13]:
df.head()

,_id,timestamp,entity0,type0,entity1,type1,quote,headline,keywords,section
0,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Zia International Airport,location,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
1,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Nasir Uddin,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
2,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,ZIA,location,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
3,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Abbas,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
4,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Nasir,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page

In [14]:
G = nx.Graph()

In [15]:
network_type = 'person'
count = 0
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    if row['type0'] in network_type and row['type1'] in network_type:
        # print(row['entity0'], row['entity1'])
        count += 1
        G.add_edge(row['entity0'], row['entity1'])
        
print(count)

100%|██████████| 914208/914208 [00:53<00:00, 17126.23it/s]

170661

In [16]:
print(len(G.nodes))
print(len(G.edges))

45684
123931

In [109]:
degree_centrality_G = nx.degree_centrality(G)
sorted(degree_centrality_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Khan', 0.013133988573429942),
 ('Barack Obama', 0.012980758706739925),
 ('Rahman', 0.012192719392334128),
 ('Ahmed', 0.009872381411028173),
 ('Ali', 0.009872381411028173),
 ('Clinton', 0.009390801830002408),
 ('Nazrul', 0.008953002210888076),
 ('Sheikh Hasina', 0.00886544228706521),
 ('Rab', 0.008734102401330912),
 ('Hossain', 0.008405752686995163),
 ('Bush', 0.00746448350589935),
 ('Singh', 0.007136133791563601),
 ('Gaddafi', 0.006829674058183569),
 ('Khaleda Zia', 0.006216754591423505),
 ('Hillary Clinton', 0.0061510846485563556),
 ('Musharraf', 0.005778954972309174),
 ('Assad', 0.005275485410327693),
 ('Chowdhury', 0.005209815467460543),
 ('Abbas', 0.005056585600770528),
 ('Manmohan Singh', 0.004947135695991945)]

In [110]:
pr_G = nx.pagerank(G)
sorted(pr_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Khan', 0.0020221291101969654),
 ('Barack Obama', 0.001860386376414883),
 ('Rahman', 0.0016470698180094294),
 ('Ali', 0.0014392535383854603),
 ('Ahmed', 0.001389271058981849),
 ('Clinton', 0.0013594442199864776),
 ('Hossain', 0.0011943550496432823),
 ('Rab', 0.0011939810349725446),
 ('Gaddafi', 0.0011799060070162564),
 ('Sheikh Hasina', 0.001141066301167085),
 ('Nazrul', 0.001096829397606835),
 ('Bush', 0.0010825096553345784),
 ('Singh', 0.0010689226742943243),
 ('Musharraf', 0.000867420369274214),
 ('Assad', 0.000814893760271518),
 ('Hillary Clinton', 0.0008097963993054702),
 ('Khaleda Zia', 0.0007314108114951339),
 ('Chowdhury', 0.0007280814787891741),
 ('Abbas', 0.0007247929345799016),
 ('Kim', 0.0006925116346644014)]

In [117]:
G.remove_edges_from(G.selfloop_edges())
sorted(nx.core_number(G).items(), key= lambda x:x[1], reverse=True)[:20]

[('Samar Ranjan Sen', 39),
 ('Kishore Parekh', 39),
 ('Gouri Ghosh', 39),
 ('Waheeda', 39),
 ('Aniruddha Ray', 39),
 ('Maulana Syed Asad Madni', 39),
 ('Pranabranjan Ray', 39),
 ('Kulwant Singh Pannu', 39),
 ('Gautam Chattapadhaya', 39),
 ('Shaheed Subedar Mailkiat Singh', 39),
 ('VK Krisna Meon', 39),
 ('Mrinmoyee Bose', 39),
 ('Somnath Hore', 39),
 ('Ashok Ray', 39),
 ('Asghar Ali', 39),
 ('Shukharanjan Sengupta', 39),
 ('Subhash Mukhopadhaya', 39),
 ('Shakti Chattapadhaya', 39),
 ('Pannalal Dasgupta', 39),
 ('Sukhdev Singh Sanhu', 39)]

In [111]:
df = pd.read_pickle('Data/DS/DS.pkl')

In [113]:
count = collections.Counter([item for sublist in df['ner_unique_person'] for item in sublist])

In [114]:
count.most_common()[:20]

[('Barack Obama', 4951),
 ('Sheikh Hasina', 3881),
 ('Rabindranath Tagore', 2764),
 ('Khaleda Zia', 2283),
 ('Rahman', 1949),
 ('Bangabandhu Sheikh Mujibur Rahman', 1933),
 ('Rab', 1456),
 ('Manmohan Singh', 1375),
 ('Hossain', 1316),
 ('Nazrul', 1310),
 ('Hillary Clinton', 1257),
 ('Ahmed', 1179),
 ('Ali', 1110),
 ('Mizanur Rahman', 979),
 ('Bashar al-Assad', 943),
 ('Narendra Modi', 942),
 ('Abul Kalam Azad', 909),
 ('Rafiqul Islam', 899),
 ('Khan', 885),
 ('Hamid Karzai', 858)]

In [115]:
df['person_in_headline'] = np.vectorize(person_in_headline)(df['title'], df['ner_unique_person'])

In [116]:
df['person_in_text'] = np.vectorize(person_in_text)(df['content'], df['ner_unique_person'])

In [117]:
# df_text = pd.DataFrame.from_dict(count_person_in_text, orient='index')

In [118]:
count_person_in_headline = sum(map(collections.Counter, tqdm(df['person_in_headline'].values.tolist())), collections.Counter())

100%|██████████| 165236/165236 [08:51<00:00, 310.73it/s]

In [119]:
df_headline = pd.DataFrame.from_dict(count_person_in_headline, orient='index')

In [120]:
# count_person_in_text = sum(map(collections.Counter, tqdm(df['person_in_text'].values.tolist())), collections.Counter())

In [121]:
# df_text = pd.DataFrame.from_dict(count_person_in_text, orient='index')

In [123]:
df_text = pd.read_pickle('Data/Processed Data/Misc/DS-Text-Count.pkl')

In [124]:
pagerank = pd.DataFrame.from_dict(pr_G, orient='index')
pagerank = pagerank.reset_index()
pagerank = pagerank.sort_values(by='index')
pagerank.columns = ['name', 'pagerank']

degree_centrality = pd.DataFrame.from_dict(degree_centrality_G, orient='index')
degree_centrality = degree_centrality.reset_index()
degree_centrality = degree_centrality.sort_values(by='index')
degree_centrality.columns = ['name', 'degree_centrality']

G.remove_edges_from(G.selfloop_edges())
core = nx.core_number(G)

core_periphery = pd.DataFrame.from_dict(core, orient='index')
core_periphery = core_periphery.reset_index()
core_periphery = core_periphery.sort_values(by='index')
core_periphery.columns = ['name', 'core_periphery']

count = dict(count)
person_count = pd.DataFrame.from_dict(count, orient='index')
person_count = person_count.reset_index()
person_count = person_count.sort_values(by='index')
person_count.columns = ['name', 'count']

df_headline = df_headline.reset_index()
df_headline = df_headline.sort_values(by='index')
df_headline.columns = ['name', 'headline_count']

df_text = df_text.reset_index()
df_text = df_text.sort_values(by='index')
df_text.columns = ['name', 'text_count']

In [125]:
ml = pd.DataFrame()
ml = pd.merge(pagerank, core_periphery, on="name")
ml = pd.merge(ml, degree_centrality, on="name")
ml = pd.merge(ml, person_count, on="name", how="left")
ml = pd.merge(ml, df_headline, on="name", how="left")
ml = pd.merge(ml, df_text, on="name", how="left")
ml.fillna(0, inplace=True)

In [126]:
ml.drop(ml.index[0:86], inplace=True)
ml.reset_index(drop=True, inplace=True)

In [127]:
ml.drop(ml.index[-153:], inplace=True)

In [128]:
ml.head()

,name,pagerank,core_periphery,degree_centrality,count,headline_count,text_count
0,AJ Faisel,0.000022,1,0.000022,1,0.0,2.0
1,AJM Nasir,0.000007,1,0.000022,3,0.0,4.0
2,AJM Nasir Uddin,0.000027,4,0.000153,16,0.0,17.0
3,AK Abdul Momen,0.000005,1,0.000022,4,0.0,3.0
4,AK Antony,0.000043,6,0.000285,62,0.0,63.0

In [156]:
# ml.to_pickle('Data/Processed Data/ML/DS-ml.pkl')

# Difference between core rank every 6 months

## DT

In [24]:
df = pd.read_pickle('Data/Processed Data/Networks/DT-network.pkl')

In [25]:
df['entity0'] = df['entity0'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)
df['entity1'] = df['entity1'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)

In [26]:
df['timestamp'] = df['timestamp'].apply(lambda x: x['$date'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [27]:
i = df['timestamp'].min()
max_date_counter = 0
while i < df['timestamp'].max() + datetime.timedelta(weeks=24):
    max_date_counter += 1
    i = i + datetime.timedelta(weeks=24)

In [28]:
time = []
time.append(df['timestamp'].min())
for i in range(1,max_date_counter):
    time.append(time[i-1] + datetime.timedelta(weeks=24))

In [29]:
Graph_list = []

In [30]:
network_type = 'person'
count = 0
for i in range(len(time)-1):
    G = nx.Graph()
    for _, row in tqdm(df.iterrows(), total=df.shape[0]):
        if row['timestamp'] > time[i] and row['timestamp'] <= time[i+1]:
            if row['type0'] in network_type and row['type1'] in network_type:
                count += 1
                G.add_edge(row['entity0'], row['entity1'])
    Graph_list.append(G)

print(count)

100%|██████████| 247369/247369 [00:15<00:00, 15619.23it/s]
100%|██████████| 247369/247369 [00:16<00:00, 14836.08it/s]
100%|██████████| 247369/247369 [00:16<00:00, 14719.99it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15577.09it/s]
100%|██████████| 247369/247369 [00:16<00:00, 15045.59it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15824.53it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15719.86it/s]

24925

In [31]:
df_list = []

In [32]:
for i in range(len(Graph_list)):
    Graph_list[i].remove_edges_from(Graph_list[i].selfloop_edges())
    core = nx.core_number(Graph_list[i])
    core_periphery = pd.DataFrame.from_dict(core, orient='index')
    core_periphery = core_periphery.reset_index()
    core_periphery = core_periphery.sort_values(by='index')
    core_periphery.columns = ['name', 'core_periphery']
    df_list.append(core_periphery)

In [33]:
def bucket(core_periphery):
    if core_periphery > 4:
        return 5
    else:
        return core_periphery


for i in range(len(df_list)):
    df = df_list[i]
    df['core_periphery'] = df['core_periphery'].apply(bucket)
    df_list[i] = df

In [34]:
cores = list(range(1,6))

for j in cores:
    print(" CORE BEING CALCULATED IS " + str(j))
    for i in range(len(df_list)-1):
        df1 = df_list[i]
        df2 = df_list[i+1]

        first = df1[df1['core_periphery'] == j]
        second = df2[df2['core_periphery'] == j]

        count = 0
        for _, row1 in first.iterrows():
            for _, row2 in second.iterrows():
                if ((row1['name'] == row2['name']) and (row1['core_periphery'] == row2['core_periphery'])):
                        count += 1

        print("Overlap count " + str(count))
        print("Overlap percentage %.2f" % (count/max(first.shape[0], second.shape[0]) * 100))
        print("---------------------------------------------")
    print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx")
    print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx")

 CORE BEING CALCULATED IS 1
Overlap count 96
Overlap percentage 6.78
---------------------------------------------
Overlap count 135
Overlap percentage 9.39
---------------------------------------------
Overlap count 129
Overlap percentage 8.97
---------------------------------------------
Overlap count 81
Overlap percentage 6.36
---------------------------------------------
Overlap count 93
Overlap percentage 9.13
---------------------------------------------
Overlap count 87
Overlap percentage 8.11
---------------------------------------------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 CORE BEING CALCULATED IS 2
Overlap count 42
Overlap percentage 7.28
---------------------------------------------
Overlap count 57
Overlap percentage 8.44
---------------------------------------------
Overlap count 58
Overlap percentage 8.59
---------------------------------------------
Overlap count 58
Overlap percentage 8.63
---------------------------------------------
Overlap count 36
Overlap percentage 7.66
---------------------------------------------
Overlap count 27
Overlap percentage 5.76
---------------------------------------------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 CORE BEING CALCULATED IS 3
Overlap count 32
Overlap percentage 10.03
---------------------------------------------
Overlap count 25
Overlap percentage 7.84
---------------------------------------------
Overlap count 31
Overlap percentage 8.66
---------------------------------------------
Overlap count 22
Overlap percentage 6.15
---------------------------------------------
Overlap count 22
Overlap percentage 10.63
---------------------------------------------
Overlap count 14
Overlap percentage 7.53
---------------------------------------------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 CORE BEING CALCULATED IS 4
Overlap count 8
Overlap percentage 6.45
---------------------------------------------
Overlap count 12
Overlap percentage 7.59
---------------------------------------------
Overlap count 10
Overlap percentage 5.56
---------------------------------------------
Overlap count 9
Overlap percentage 5.00
---------------------------------------------
Overlap count 4
Overlap percentage 8.70
---------------------------------------------
Overlap count 5
Overlap percentage 6.76
---------------------------------------------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 CORE BEING CALCULATED IS 5
Overlap count 1
Overlap percentage 1.25
---------------------------------------------
Overlap count 5
Overlap percentage 6.25
---------------------------------------------
Overlap count 10
Overlap percentage 12.50
---------------------------------------------
Overlap count 1
Overlap percentage 1.25
---------------------------------------------
Overlap count 0
Overlap percentage 0.00
---------------------------------------------
Overlap count 0
Overlap percentage 0.00
---------------------------------------------
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## DS

In [2]:
df = pd.read_pickle('Data/Processed Data/Networks/DS-network.pkl')

In [3]:
df.head()

,_id,timestamp,entity0,type0,entity1,type1,quote,headline,keywords,section
0,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Zia International Airport,location,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
1,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Nasir Uddin,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
2,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,ZIA,location,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
3,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Abbas,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page
4,{'$oid': '58afca985388c123849ed1bf'},{'$date': '2008-01-01T00:00:00.000Z'},ZIA,location,Nasir,person,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",NaN,"['stones', 'rab', 'nasir', 'museum', 'took', '...",Front Page

In [4]:
def fix_date(date):
    json_acceptable_string = date.replace("'", "\"")
    d = json.loads(json_acceptable_string)
    return(parser.parse(d['$date']))

In [5]:
df['timestamp'] = df['timestamp'].progress_apply(fix_date)

100%|██████████| 914208/914208 [01:28<00:00, 10285.66it/s]

In [7]:
df['timestamp'].min()

Timestamp('2008-01-01 00:00:00+0000', tz='UTC')

In [8]:
df['timestamp'].max()

Timestamp('2017-12-01 14:29:00+0000', tz='UTC')

In [21]:
i = df['timestamp'].min()
max_date_counter = 0
while i < df['timestamp'].max() + datetime.timedelta(weeks=24):
    max_date_counter += 1
    i = i + datetime.timedelta(weeks=24)

print(max_date_counter)

23

In [22]:
time = []
time.append(df['timestamp'].min())
i = time[0]
for i in range(1,max_date_counter):
    time.append(time[i-1] + datetime.timedelta(weeks=24))

# Making ML ready datasets in time intervals

## DT

In [148]:
df = pd.read_pickle('Data/Processed Data/Networks/DT-network.pkl')

df['timestamp'] = df['timestamp'].apply(lambda x: x['$date'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

### 6, 3, 1 month interval (replaced cells using month because notebook was getting too long)

In [149]:
i = df['timestamp'].min()
max_date_counter = 0
while i < df['timestamp'].max() + datetime.timedelta(weeks=4):
    max_date_counter += 1
    i = i + datetime.timedelta(weeks=4)

print(max_date_counter)
time = []
time.append(df['timestamp'].min())
i = time[0]
for i in range(1,max_date_counter):
    time.append(time[i-1] + datetime.timedelta(weeks=4))

43

In [150]:
time[-1]

Timestamp('2016-06-25 15:24:00')

In [151]:
df['timestamp'].max()

Timestamp('2016-06-14 01:28:00')

In [152]:
Graph_list = []

network_type = 'person'
count = 0
for i in range(len(time)-1):
    G = nx.Graph()
    for _, row in tqdm(df.iterrows(), total=df.shape[0]):
        if row['timestamp'] > time[i] and row['timestamp'] <= time[i+1]:
            if row['type0'] in network_type and row['type1'] in network_type:
                count += 1
                G.add_edge(row['entity0'], row['entity1'])
    Graph_list.append(G)

print(count)

100%|██████████| 247369/247369 [00:14<00:00, 16585.64it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15750.56it/s]
100%|██████████| 247369/247369 [00:16<00:00, 15152.73it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16276.90it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16037.46it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16039.20it/s]
100%|██████████| 247369/247369 [00:17<00:00, 14427.84it/s]
100%|██████████| 247369/247369 [00:16<00:00, 14641.11it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15526.41it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16079.24it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15939.99it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16211.35it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16061.80it/s]
100%|██████████| 247369/247369 [00:14<00:00, 17085.68it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16075.31it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15836.22it/s]
100%|██████████| 247369/247369 [00:16<00:00, 15234.80it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15847.11it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15517.23it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15612.37it/s]
100%|██████████| 247369/247369 [00:16<00:00, 15419.07it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16125.28it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16504.85it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16727.60it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16623.91it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16570.03it/s]
100%|██████████| 247369/247369 [00:14<00:00, 17202.63it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16988.69it/s]
100%|██████████| 247369/247369 [00:13<00:00, 17731.45it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16887.12it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16898.04it/s]
100%|██████████| 247369/247369 [00:15<00:00, 16393.18it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16545.39it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16980.18it/s]
100%|██████████| 247369/247369 [00:14<00:00, 17185.51it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16497.46it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16899.93it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16713.56it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16880.37it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15806.11it/s]
100%|██████████| 247369/247369 [00:15<00:00, 15856.37it/s]
100%|██████████| 247369/247369 [00:14<00:00, 16552.04it/s]

24925

In [153]:
degree_centrality_list = ()
pagerank_list = ()
core_list = ()

for G in Graph_list:
    degree_centrality_G = nx.degree_centrality(G)
    pr_G = nx.pagerank(G)
    G.remove_edges_from(G.selfloop_edges())
    core = nx.core_number(G)
    
    degree_centrality_list += (degree_centrality_G,)
    pagerank_list += (pr_G,)
    core_list += (core,)

In [154]:
dt = pd.read_pickle('Data/DT/DT.pkl')
dt['news_publish_date'] = dt['news_publish_date'].apply(lambda x: x['$date'])
dt['news_publish_date'] = pd.to_datetime(dt['news_publish_date'])
dt = dt.set_index(dt['news_publish_date'])
dt = dt.sort_index()

In [155]:
dt_list = []
for i in range(len(time)-1):
    temp = dt[time[i]:time[i+1]]
    dt_list.append(temp)

In [156]:
count_list = [[], [], []] # List structure is: count, count_in_text, count_in_headline

for dt in dt_list:
    dt['person_in_headline'] = np.vectorize(person_in_headline)(dt['news_headline'], dt['persons_unique'])
    dt['person_in_text'] = np.vectorize(person_in_text)(dt['news_text'], dt['persons_unique'])
    count_person_in_text = sum(map(collections.Counter, tqdm(dt['person_in_text'].values.tolist())), collections.Counter())
    count_person_in_headline = sum(map(collections.Counter, tqdm(dt['person_in_headline'].values.tolist())), collections.Counter())
    count = collections.Counter([item for sublist in dt['persons_unique'] for item in sublist])
    
    count_list[0].append(count)
    count_list[1].append(count_person_in_headline)
    count_list[2].append(count_person_in_text)

100%|██████████| 454/454 [00:00<00:00, 3908.43it/s]
100%|██████████| 454/454 [00:00<00:00, 61220.87it/s]
100%|██████████| 862/862 [00:00<00:00, 2091.80it/s]
100%|██████████| 862/862 [00:00<00:00, 40319.95it/s]
100%|██████████| 859/859 [00:00<00:00, 1972.06it/s]
100%|██████████| 859/859 [00:00<00:00, 36366.19it/s]
100%|██████████| 978/978 [00:00<00:00, 1925.41it/s]
100%|██████████| 978/978 [00:00<00:00, 40785.37it/s]
100%|██████████| 952/952 [00:00<00:00, 1881.19it/s]
100%|██████████| 952/952 [00:00<00:00, 30435.44it/s]
100%|██████████| 1274/1274 [00:00<00:00, 1562.05it/s]
100%|██████████| 1274/1274 [00:00<00:00, 28330.28it/s]
100%|██████████| 1090/1090 [00:00<00:00, 1863.88it/s]
100%|██████████| 1090/1090 [00:00<00:00, 35086.39it/s]
100%|██████████| 1308/1308 [00:00<00:00, 1821.56it/s]
100%|██████████| 1308/1308 [00:00<00:00, 32580.21it/s]
100%|██████████| 1634/1634 [00:01<00:00, 1417.03it/s]
100%|██████████| 1634/1634 [00:00<00:00, 29775.01it/s]
100%|██████████| 1751/1751 [00:01<00:00, 1198.01it/s]
100%|██████████| 1751/1751 [00:00<00:00, 22610.49it/s]
100%|██████████| 1736/1736 [00:01<00:00, 1296.23it/s]
100%|██████████| 1736/1736 [00:00<00:00, 19376.22it/s]
100%|██████████| 1336/1336 [00:00<00:00, 1530.00it/s]
100%|██████████| 1336/1336 [00:00<00:00, 33598.29it/s]
100%|██████████| 1506/1506 [00:01<00:00, 1503.82it/s]
100%|██████████| 1506/1506 [00:00<00:00, 36022.53it/s]
100%|██████████| 1645/1645 [00:01<00:00, 1278.39it/s]
100%|██████████| 1645/1645 [00:00<00:00, 28629.29it/s]
100%|██████████| 1510/1510 [00:01<00:00, 1471.79it/s]
100%|██████████| 1510/1510 [00:00<00:00, 32669.63it/s]
100%|██████████| 1450/1450 [00:01<00:00, 1391.07it/s]
100%|██████████| 1450/1450 [00:00<00:00, 30344.22it/s]
100%|██████████| 1285/1285 [00:00<00:00, 1630.85it/s]
100%|██████████| 1285/1285 [00:00<00:00, 34110.39it/s]
100%|██████████| 1279/1279 [00:00<00:00, 1521.74it/s]
100%|██████████| 1279/1279 [00:00<00:00, 39732.73it/s]
100%|██████████| 1630/1630 [00:01<00:00, 1207.38it/s]
100%|██████████| 1630/1630 [00:00<00:00, 29505.74it/s]
100%|██████████| 1416/1416 [00:00<00:00, 1516.60it/s]
100%|██████████| 1416/1416 [00:00<00:00, 42561.32it/s]
100%|██████████| 1514/1514 [00:00<00:00, 1661.29it/s]
100%|██████████| 1514/1514 [00:00<00:00, 29948.29it/s]
100%|██████████| 1301/1301 [00:00<00:00, 1697.25it/s]
100%|██████████| 1301/1301 [00:00<00:00, 34985.03it/s]
100%|██████████| 1094/1094 [00:00<00:00, 2107.56it/s]
100%|██████████| 1094/1094 [00:00<00:00, 48328.19it/s]
100%|██████████| 1232/1232 [00:00<00:00, 2080.58it/s]
100%|██████████| 1232/1232 [00:00<00:00, 46939.08it/s]
100%|██████████| 1197/1197 [00:00<00:00, 1864.86it/s]
100%|██████████| 1197/1197 [00:00<00:00, 48914.48it/s]
100%|██████████| 1079/1079 [00:00<00:00, 2067.01it/s]
100%|██████████| 1079/1079 [00:00<00:00, 38022.08it/s]
100%|██████████| 1067/1067 [00:00<00:00, 2092.87it/s]
100%|██████████| 1067/1067 [00:00<00:00, 45171.06it/s]
100%|██████████| 972/972 [00:00<00:00, 2371.79it/s]
100%|██████████| 972/972 [00:00<00:00, 47123.20it/s]
100%|██████████| 1047/1047 [00:00<00:00, 2124.25it/s]
100%|██████████| 1047/1047 [00:00<00:00, 40397.37it/s]
100%|██████████| 776/776 [00:00<00:00, 2613.96it/s]
100%|██████████| 776/776 [00:00<00:00, 58673.23it/s]
100%|██████████| 924/924 [00:00<00:00, 2135.94it/s]
100%|██████████| 924/924 [00:00<00:00, 48083.58it/s]
100%|██████████| 1023/1023 [00:00<00:00, 2035.23it/s]
100%|██████████| 1023/1023 [00:00<00:00, 36480.27it/s]
100%|██████████| 918/918 [00:00<00:00, 2523.36it/s]
100%|██████████| 918/918 [00:00<00:00, 53173.84it/s]
100%|██████████| 950/950 [00:00<00:00, 2294.41it/s]
100%|██████████| 950/950 [00:00<00:00, 32120.83it/s]
100%|██████████| 1017/1017 [00:00<00:00, 1784.14it/s]
100%|██████████| 1017/1017 [00:00<00:00, 42370.92it/s]
100%|██████████| 1068/1068 [00:00<00:00, 1574.88it/s]
100%|██████████| 1068/1068 [00:00<00:00, 58619.37it/s]
100%|██████████| 1028/1028 [00:00<00:00, 2467.08it/s]
100%|██████████| 1028/1028 [00:00<00:00, 35928.21it/s]
100%|██████████| 1160/1160 [00:00<00:00, 2043.08it/s]
100%|██████████| 1160/1160 [00:00<00:00, 29988.31it/s]
100%|██████████| 1096/1096 [00:00<00:00, 1971.36it/s]
100%|██████████| 1096/1096 [00:00<00:00, 38891.35it/s]
100%|██████████| 1069/1069 [00:00<00:00, 1960.08it/s]
100%|██████████| 1069/1069 [00:00<00:00, 38004.64it/s]
100%|██████████| 966/966 [00:00<00:00, 1988.64it/s]
100%|██████████| 966/966 [00:00<00:00, 51017.37it/s]
100%|██████████| 603/603 [00:00<00:00, 4036.31it/s]
100%|██████████| 603/603 [00:00<00:00, 70574.14it/s]

In [157]:
for i in tqdm(range(len(dt_list))):
    pagerank = pd.DataFrame.from_dict(pagerank_list[i], orient='index')
    pagerank = pagerank.reset_index()
    pagerank = pagerank.sort_values(by='index')
    pagerank.columns = ['name', 'pagerank']
    
    degree_centrality = pd.DataFrame.from_dict(degree_centrality_list[i], orient='index')
    degree_centrality = degree_centrality.reset_index()
    degree_centrality = degree_centrality.sort_values(by='index')
    degree_centrality.columns = ['name', 'degree_centrality']
    
    core_periphery = pd.DataFrame.from_dict(core_list[i], orient='index')
    core_periphery = core_periphery.reset_index()
    core_periphery = core_periphery.sort_values(by='index')
    core_periphery.columns = ['name', 'core_periphery']
    
    count = dict(count_list[0][i])
    person_count = pd.DataFrame.from_dict(count, orient='index')
    person_count = person_count.reset_index()
    person_count = person_count.sort_values(by='index')
    person_count.columns = ['name', 'count']
    
    df_text = pd.DataFrame.from_dict(count_list[1][i], orient='index')
    df_text = df_text.reset_index()
    df_text = df_text.sort_values(by='index')
    df_text.columns = ['name', 'text_count']
    
    df_headline = pd.DataFrame.from_dict(count_list[2][i], orient='index')
    df_headline = df_headline.reset_index()
    df_headline = df_headline.sort_values(by='index')
    df_headline.columns = ['name', 'headline_count']
    
    ml = pd.DataFrame()
    ml = pd.merge(pagerank, core_periphery, on="name")
    ml = pd.merge(ml, degree_centrality, on="name")
    ml = pd.merge(ml, person_count, on="name", how="left")
    ml = pd.merge(ml, df_headline, on="name", how="left")
    ml = pd.merge(ml, df_text, on="name", how="left")
    
    ml.to_pickle('Data/Processed Data/Intervals/DT/1 month/ml_'+str(i+1)+'.pkl')

100%|██████████| 42/42 [00:01<00:00, 39.32it/s]