In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
import collections
import itertools

tqdm.pandas()

In [2]:
df = pd.read_pickle('Data/Processed Data/Networks/DT-network.pkl')

In [3]:
df['entity0'] = df['entity0'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)
df['entity1'] = df['entity1'].apply(lambda x: "Sheikh Hasina" if x == "Sheikh Hasina," else x)

In [4]:
df.head()

,_id,timestamp,entity0,type0,entity1,type1,quote,headline,keywords,original_tags
0,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Bangladesh,location,Amaq News Agency,organization,"Several hours after the killing, SITE ran a re...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
1,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Noni Gopal,person,Nityanando,person,"Noni Gopal Debnath, another resident of the As...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
2,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Dhaka Tribune,organization,Pabna Alamgir Kabir,person,"Superintendent of Police, Pabna Alamgir Kabir ...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
3,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Islami Chhatra Shibir,organization,Munshi Abu,organization,"Acting on tip-off, a team of police arrested A...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]
4,{'$oid': '575f79f55388c1567baebb2a'},{'$date': '2016-06-14T01:28:00.000Z'},Islami Chhatra Shibir,organization,Abdus Sattar,person,"Acting on tip-off, a team of police arrested A...",Ashram residents remain in panic,"[bangladesh, ashram, monastery, nityanando, mo...",[crime]

In [5]:
G = nx.from_pandas_edgelist(df, 'entity0', 'entity1', create_using=nx.Graph())

In [6]:
nx.density(G)

0.00016539228427145232

In [7]:
nx.is_connected(G)

False

In [8]:
pr_G = nx.pagerank(G)
sorted(pr_G.items(), key = lambda x:x[1], reverse= True)[:20]

[('Dhaka', 0.032140396333133106),
 ('Bangladesh', 0.02478634742637388),
 ('Dhaka Tribune', 0.016191586077929417),
 ('BNP', 0.00804070141133033),
 ('Chittagong', 0.00619476475811021),
 ('Awami League', 0.005896572338907576),
 ('India', 0.005118274738983967),
 ('Sheikh Hasina', 0.003557447735772708),
 ('US', 0.0028920527205722234),
 ('RAB', 0.002584191073869847),
 ('Pakistan', 0.0021791557349716524),
 ('Khaleda Zia', 0.0020787753109879417),
 ('BGB', 0.0019197258448252605),
 ('Sylhet', 0.0017605342498565554),
 ('Barisal', 0.0016339086070102564),
 ('Rajshahi', 0.0016330194554170306),
 ('Gazipur', 0.0016249654900924303),
 ('High Court', 0.0015250932781148646),
 ('Khulna', 0.001477082740764397),
 ('Narayanganj', 0.0014443850184534836)]

In [9]:
G.remove_edges_from(G.selfloop_edges())
sorted(nx.core_number(G).items(), key= lambda x:x[1], reverse=True)[:100]

[('Yusuf of Haolader Enterprse', 26),
 ('Nasir Sarder of Sarder Traders', 26),
 ('Rafa Moni Enterprise', 26),
 ('Chotobigi', 26),
 ('Fazlul Haque Akond', 26),
 ('Chaora', 26),
 ('Pathorghata', 26),
 ('Kalomegha union, Masuma Akter of Rafa Moni Enterprise', 26),
 ('Nurul Hque of Haque Traders', 26),
 ('Zasim Duari of Duari Traders', 26),
 ('Nishanbaria', 26),
 ('Duari Traders', 26),
 ('Siddikur Rahman', 26),
 ('Amtoli', 26),
 ('Kukua', 26),
 ('Taltoli union, Zesmin Akter of Nurnabi Traders', 26),
 ('Satata Traders', 26),
 ('Nishanbaria union, Nannu Khan of Ruma Enterprise', 26),
 ('Kakchira', 26),
 ('Attharogachia', 26),
 ('AKM Yusuf Ali of Nuruizannat Enterprise', 26),
 ('Koraibaria', 26),
 ('Habibur Rahman', 26),
 ('Habibur Rahman Traders', 26),
 ('Pochakorali union, Asif', 26),
 ('Asif Traders', 26),
 ('Bhai Bhai Traders', 26),
 ('Abdul Latif', 25),
 ('Bangladesh Embassy', 25),
 ('FBI', 25),
 ('Sylhet', 25),
 ('Bangabandhu', 25),
 ('Narsingdi', 25),
 ('Detective Branch', 25),
 ('Anisul Huq', 25),
 ('Rafiqul', 25),
 ('New York', 25),
 ('India', 25),
 ('New Delhi', 25),
 ('Barisal', 25),
 ('Savar', 25),
 ('Ashraf', 25),
 ('Mozammel Haque', 25),
 ('Harun', 25),
 ('Rahman', 25),
 ('BBC', 25),
 ('Mahmood Ali', 25),
 ('CMP', 25),
 ('Sheikh Hasina', 25),
 ('World Bank', 25),
 ('Iqbal', 25),
 ('Jessore', 25),
 ('Natore', 25),
 ('National Press Club', 25),
 ('Badda', 25),
 ('BNP Standing Committee', 25),
 ('Japan', 25),
 ('Monirul Islam', 25),
 ('Nazmul', 25),
 ('Awami League', 25),
 ('Kamal Hossain', 25),
 ('Teesta', 25),
 ('Mosharraf', 25),
 ('HSC', 25),
 ('Dhaka Tribune.', 25),
 ('Nasim', 25),
 ('Tarique Rahman', 25),
 ('Lalmonirhat', 25),
 ('Mirza Fakhrul Islam Alamgir', 25),
 ('Monir', 25),
 ('Shirin Sharmin Chaudhury', 25),
 ('Election Commission', 25),
 ('Habib', 25),
 ('Kolkata', 25),
 ('Canada', 25),
 ('Mizanur Rahman', 25),
 ('Tofail', 25),
 ('CID', 25),
 ('Monirul', 25),
 ('Suranjit', 25),
 ('Shibir', 25),
 ('Kamaruzzaman', 25),
 ('China', 25),
 ('Grameen Bank', 25),
 ('Islamic State', 25),
 ('Parliament', 25),
 ('Chowdhury', 25),
 ('Rizvi', 25),
 ('Humayun Kabir', 25),
 ('Dhaka Central Jail', 25),
 ('Khaleda Zia', 25),
 ('Myanmar', 25),
 ('Jahangir', 25),
 ('CCTV', 25),
 ('Obaidul Quader', 25),
 ('Pabna', 25),
 ('Kurigram', 25),
 ('Dhanmondi', 25),
 ('Noakhali', 25),
 ('Bangladesh', 25)]

In [10]:
G2 = nx.Graph()

In [11]:
network_type = 'person'
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    if row['type0'] in network_type and row['type1'] in network_type:
        # print(row['entity0'], row['entity1'])
        G2.add_edge(row['entity0'], row['entity1'])

100%|██████████| 247369/247369 [00:14<00:00, 17548.70it/s]

In [12]:
nx.density(G2)

0.00032863994112966957

In [13]:
nx.is_connected(G2)

False

In [14]:
pr_G2 = nx.pagerank(G2)
sorted(pr_G2.items(), key = lambda x:x[1], reverse= True)[:20]

[('Sheikh Hasina', 0.008714946541820291),
 ('Khaleda Zia', 0.006527625334761852),
 ('Ershad', 0.0033629463372757858),
 ('Hossain', 0.002355498953202776),
 ('Rahman', 0.0022351802397646008),
 ('Monirul', 0.0020809714059857303),
 ('Khokon', 0.0020029827831596937),
 ('Nur Hossain', 0.0018617983824966884),
 ('Babul', 0.0018555368742018644),
 ('Tarique Rahman', 0.0017628393955292428),
 ('Ziaur Rahman', 0.0015527288174221597),
 ('Kamal', 0.0015279512046905848),
 ('Mizanur Rahman', 0.00149028150777978),
 ('Hannan', 0.0013829262783952648),
 ('Masud', 0.001366695322896815),
 ('Shamim', 0.001353066577488365),
 ('Mamun', 0.0013335490807444778),
 ('Latif', 0.0013117671578834458),
 ('Kabir', 0.0012747192498525435),
 ('Bangabandhu Sheikh Mujibur Rahman', 0.0012723027199051872)]

In [15]:
G2.remove_edges_from(G2.selfloop_edges())
sorted(nx.core_number(G2).items(), key= lambda x:x[1], reverse=True)[:100]

[('Sarker', 9),
 ('Arefin Siddique', 9),
 ('Muhammad Zafar Iqbal', 9),
 ('Shahriar Kabir', 9),
 ('Ramendu Majumdar', 9),
 ('Sangeeta Imam', 9),
 ('Nasiruddin Yusuf', 9),
 ('Syed Anwar Hossain', 9),
 ('Hasanul Haque', 9),
 ('Mahmudul Haque Munshi Gonojagoron Moncho', 9),
 ('Abdul Latif', 8),
 ('Obaidul Quader', 8),
 ('Ershad', 8),
 ('Matia Chowdhury', 8),
 ('Latif Siddique', 8),
 ('Hasan Mahmud', 8),
 ('Abdul Latif Siddique', 8),
 ('Sajeeb Wazed Joy', 8),
 ('Latif', 8),
 ('Hossain', 8),
 ('Shahidul', 8),
 ('Rahman', 8),
 ('Mahfuz Anam', 8),
 ('Akram', 8),
 ('Sheikh Hasina', 8),
 ('Mirza Fakhrul', 8),
 ('Joy', 8),
 ('Khaleda Zia', 8),
 ('Asaduzzaman Khan Kamal', 8),
 ('Shamim Osman', 8),
 ('Hanif', 8),
 ('Osman', 8),
 ('Ruhul Kabir Rizvi', 8),
 ('Shafi', 8),
 ('Tarique Rahman', 8),
 ('Nur', 8),
 ('Nur Hossain', 8),
 ('Ziaur Rahman', 8),
 ('Mirza Fakhrul Islam Alamgir', 8),
 ('Nasim', 8),
 ('Kamal', 8),
 ('Shamim', 8),
 ('Bangabandhu Sheikh Mujibur Rahman', 8),
 ('Kamal Hossain', 8),
 ('Nazrul Islam', 8),
 ('Hefazat', 8),
 ('Rizvi', 8),
 ('Siddique', 8),
 ('Mohammad Nasim', 8),
 ('Ruhul Kabir', 8),
 ('Shahriar Shuvo', 7),
 ('Kabir', 7),
 ('Koko', 7),
 ('Rawshan', 7),
 ('Mizanur Rahman Bipul', 7),
 ('Sharif', 7),
 ('Enamul Hasan Ovi', 7),
 ('Shirin', 7),
 ('Rab', 7),
 ('Mamun', 7),
 ('Siraj', 7),
 ('Ali', 7),
 ('Anisul Huq', 7),
 ('Amir Hossain', 7),
 ('Babul', 7),
 ('Partha Shankar', 7),
 ('Selima Rahman, Fazlul Huq Milon', 7),
 ('Ismail', 7),
 ('Mahbubey Alam', 7),
 ('Azad', 7),
 ('Kazi Feroz Rashid', 7),
 ('Shafique', 7),
 ('Anwar', 7),
 ('Kashem', 7),
 ('Shafik Rehman', 7),
 ('Ashraf', 7),
 ('Abdul Matin Khasru', 7),
 ('Sharmin', 7),
 ('Harun', 7),
 ('Abdus Salam', 7),
 ('Imran', 7),
 ('Nazim Uddin', 7),
 ('Masud', 7),
 ('Ruhul Amin Howlader', 7),
 ('Ziauddin Ahmed Bablu', 7),
 ('Syed Ashraful Islam', 7),
 ('Alam', 7),
 ('Monir', 7),
 ('Salam', 7),
 ('Mohiuddin', 7),
 ('Abdul Quader Molla', 7),
 ('Hasan', 7),
 ('Iqbal', 7),
 ('Chairperson Khaleda Zia', 7),
 ('Sujon', 7),
 ('Anwar Hossain', 7),
 ('Fazlul Huq Milon', 7),
 ('Razzak', 7),
 ('Selina', 7),
 ('Quader', 7)]

In [16]:
df = pd.read_pickle('Data/DT/DT.pkl')

In [17]:
df.head()

,_id,is_negative,news_crawled_date,news_headline,news_image_urls,news_keywords,news_location,news_ml_tags,news_naive_tags,news_original_tags,news_publish_date,news_reporters,news_text,news_url,newspaper_name,newspaper_url,locations_unique,organizations_unique,persons_unique
0,{'$oid': '575f79f55388c1567baebb2a'},True,{'$date': '2016-06-13T23:28:50.269Z'},Ashram residents remain in panic,[http://www.dhakatribune.com/sites/default/fil...,"[bangladesh, ashram, monastery, nityanando, mo...",Pabna,NaN,[crime],[crime],{'$date': '2016-06-14T01:28:00.000Z'},[[Md Emroz Khandakar]],People who live in Sri Sri Thakur Anukulchandr...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,[Bangladesh],"[morning. Nityanando, Ishwardi Upazila Health ...","[Abdus Sattar, Noni Gopal, Hemayetpur Dham, Pa..."
1,{'$oid': '575f79f85388c1567baebb2b'},True,{'$date': '2016-06-13T23:28:54.437Z'},Bangladeshi abducted from Bandarban border,[http://www.dhakatribune.com/sites/default/fil...,"[naikkangchhari, area, bandarban, woodcutters,...",Bandarban,NaN,[crime],[bangladesh],{'$date': '2016-06-14T01:27:00.000Z'},[[S Bashu Das]],Separatists in Myanmar abducted a Bangladeshi ...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Bandarban, Dochhari, Myanmar]","[Naikkangchhari, Naikkangchhari BGB]","[Hedman, Abul Khayer, Col Azim, Ula Mang Marma]"
2,{'$oid': '575f79fc5388c1567baebb2c'},True,{'$date': '2016-06-13T23:28:57.408Z'},‘Narayanganj killing was pre-planned’,[http://www.dhakatribune.com/sites/default/fil...,"[murder, rab, picked, preplanned, vehicles, ki...",Narayanganj,NaN,[crime],[crime],{'$date': '2016-06-14T01:25:00.000Z'},[[Tanveer Hossain]],Two personnel of the Rapid Action Battalion ye...,http://www.dhakatribune.com/crime/2016/jun/14/...,Dhaka Tribune,http://www.dhakatribune.com,"[Narayganj, Shitalakya, Narayanganj]","[Rapid Action Battalion, Shitalakhya River., N...","[Syed Enayetur Rahman, Arif Hossain, Nazrul, R..."
3,{'$oid': '575f79fe5388c1567baebb2d'},True,{'$date': '2016-06-13T23:29:00.538Z'},Slum kids see no future without birth registra...,[http://www.dhakatribune.com/sites/default/fil...,"[dhaka, school, kids, pay, slum, shabnam, pall...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:24:00.000Z'},[Mohammad Jamil Khan],Thirteen-year-old Shabnam had big dreams for h...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,"[Dhaka, Pallabi, Mirpur, New Kurmitola]","[NGO, The Dhaka Tribune, the Urban Primary Hea...",[Shabnam]
4,{'$oid': '575f7a015388c1567baebb2e'},True,{'$date': '2016-06-13T23:29:03.326Z'},Mobile-based agro advisory service makes farme...,[http://www.dhakatribune.com/sites/default/fil...,"[advisory, life, grameenphone, service, farmer...",National,NaN,[accident],[bangladesh],{'$date': '2016-06-14T01:22:00.000Z'},[Abu Bakar Siddique],Amela Begum in Rangpur believes she could have...,http://www.dhakatribune.com/bangladesh/2016/ju...,Dhaka Tribune,http://www.dhakatribune.com,[Rangpur],"[Grameenphone, Oxfam Bangladesh’s ICT, Departm...","[Shefali Rani, Hanif]"

In [20]:
count = collections.Counter([item for sublist in df['persons_unique'] for item in sublist])

In [21]:
count.most_common()[:100]

[('Sheikh Hasina', 4543),
 ('Khaleda Zia', 2616),
 ('Bangabandhu Sheikh Mujibur Rahman', 739),
 ('Abdul Hamid', 653),
 ('Mirza Fakhrul Islam Alamgir', 639),
 ('Mizanur Rahman', 551),
 ('Tarique Rahman', 477),
 ('Obaidul Quader', 433),
 ('Motiur Rahman Nizami', 395),
 ('Abul Kalam', 393),
 ('Ershad', 353),
 ('Abul Kalam Azad', 341),
 ('Ziaur Rahman', 334),
 ('Abul Maal Abdul Muhith', 334),
 ('Anwar Hossain', 304),
 ('Mahbubey Alam', 299),
 ('Habibur Rahman', 299),
 ('Nurul Islam Nahid', 288),
 ('Asaduzzaman Khan Kamal', 276),
 ('Shahidul Haque', 264),
 ('Amir Hossain', 255),
 ('Mahbubur Rahman', 249),
 ('Abdul Quader Molla', 249),
 ('Ruhul Kabir Rizvi', 247),
 ('Narendra Modi', 247),
 ('Kazi Rakibuddin Ahmad', 246),
 ('Shirin Sharmin Chaudhury', 245),
 ('Babul', 238),
 ('Kotwali', 237),
 ('Rahman', 231),
 ('Sheikh Hasina,', 222),
 ('Nazrul Islam', 218),
 ('Monirul', 214),
 ('Shah Alam', 211),
 ('Surendra Kumar Sinha', 208),
 ('Mosharraf Hossain', 207),
 ('Nur Hossain', 207),
 ('Rab', 205),
 ('Abdul Latif', 204),
 ('Mohammad Nasim', 203),
 ('Mozammel Haque', 192),
 ('Salauddin Quader Chowdhury', 190),
 ('Rizvi', 189),
 ('Mostafizur Rahman', 189),
 ('Kamal', 181),
 ('Nasim', 178),
 ('Delwar Hossain', 172),
 ('Rubel', 171),
 ('Avijit Roy', 169),
 ('Abdur Razzak', 167),
 ('Ruhul Amin', 165),
 ('Humayun Kabir', 164),
 ('Jahangir Alam', 164),
 ('Rashed Khan Menon', 164),
 ('Enamul Haque', 163),
 ('Shahbagh', 161),
 ('Hossain', 161),
 ('Abdur Rahman', 155),
 ('Dipu Moni', 155),
 ('Musharraf Hossain Bhuiyan', 153),
 ('Latif', 153),
 ('Nazrul', 153),
 ('Mustafizur Rahman', 151),
 ('Masud', 149),
 ('Kamal Hossain', 147),
 ('Abul Hossain', 145),
 ('Khokon', 145),
 ('Sharif', 145),
 ('Mirza Abbas', 144),
 ('Altaf Hossain', 143),
 ('Mahmood Ali', 142),
 ('Abul Kashem', 142),
 ('Ghulam Azam', 142),
 ('Siddique', 140),
 ('Mahfuzur Rahman', 140),
 ('Hasanul Haq Inu', 140),
 ('Anisul Huq', 138),
 ('Alamgir Hossain', 137),
 ('Mamun', 136),
 ('Arefin Siddique', 136),
 ('Hasan Mahmud', 136),
 ('Jahangir', 135),
 ('Jahangir Hossain', 135),
 ('Shah', 134),
 ('Kabir', 134),
 ('Jasim', 131),
 ('Abdul Latif Siddique', 131),
 ('Anisur Rahman', 130),
 ('Shahin', 128),
 ('Dan Mozena', 127),
 ('Shahidul', 127),
 ('Masudur Rahman', 127),
 ('Shajahan Khan', 124),
 ('Ruhul Kabir', 124),
 ('Zakir Hossain', 123),
 ('Shirin Sharmin', 122),
 ('Abu Bakar', 121),
 ('Abdus Salam', 119),
 ('Delawar Hossain Sayedee', 117),
 ('Rezaul Karim', 116)]