In [1]:
import pandas as pd
from tqdm import tqdm
import re
import spacy
from tqdm import tqdm
from unidecode import unidecode
from dateutil import parser
from datetime import datetime
import collections

nlp = spacy.load('en')

In [2]:
def name_disambiguation(name):
    if (name == "Khaleda" or name == "Zia" or name == "Begum Khaleda Zia"):
        return "Khaleda Zia"
    if (name == "Hasina" or name == "Sheikh"):
        return "Sheikh Hasina"
    if (name == "Fakhrul"):
        return "Mirza Fakhrul Islam Alamgir"
    if (name == "Muhith" or name == "AMA Muhith" or name == "MA Muhith"):
        return "Abul Maal Abdul Muhith"
    if (name == "Nizami" or name == "Motiur Rahman"):
        return "Motiur Rahman Nizami"
    if (name == "Modi"):
        return "Narendra Modi"
    if (name == "Bangabandhu" or name == "Sheikh Mujib" or name == "Sheikh Mujib" or name == "Bangabandhu Sheikh Mujibur" or name == "Sheikh Mujibur Rahman"):
        return "Bangabandhu Sheikh Mujibur Rahman"
    if (name == "Tarique"):
        return "Tarique Rahman"
    if (name == "Avijit"):
        return "Avijit Roy"
    if (name == "Mozena"):
        return "Dan Mozena"
    if (name == "Yunus" or name == "Mohammad Yunus"):
        return "Muhammad Yunus"

### Date limit: 2013-07-08 to 2016-06-14 on DT, New Age and Daily Sun

In [3]:
dt = pd.read_json('Data/DT/bd_news_dt.json')
dstar = pd.read_json('Data/DS/news_db.json', lines=True)
dsun = pd.read_pickle('Data/Daily Sun/DailySun_ent_1.pkl')

In [4]:
dstar.head()

,_id,about_reporter,bottom_tagline,breadcrumb,category,content,date_crawled,date_published,generated_keywords,generated_summary,...,ner_unique_person,ner_unique_time,news_url,newspaper,reporter,section,sentiment,shoulder,title,top_tagline
0,{'$oid': '58afca955388c123849ed1be'},NaN,None,[],NaN,People's hopes for the best and confidence in ...,{'$date': '2017-02-24T00:54:28.809Z'},{'$date': '2008-01-01T00:00:00.000Z'},"[parliamentary, fiscal, great, unfulfilled, ca...",This reminded the people of past military regi...,...,"[Quadri, Hasina, Bangla Bhai, Ershad, Ayub Qua...",[],http://www.thedailystar.net/news-detail-17307,The Daily Star,None,Front Page,NaN,NaN,Great expectations unfulfilled,None
1,{'$oid': '58afca985388c123849ed1bf'},NaN,None,[],NaN,"(L-R) Nasir Uddin, Abbas AliArrested Abbas Ali...",{'$date': '2017-02-24T00:54:31.997Z'},{'$date': '2008-01-01T00:00:00.000Z'},"[stones, rab, nasir, museum, took, abbas, offi...",Abbas and Nasir said they stole the statuettes...,...,"[Mohammad Ali, Hamid, Nikhil Chandra Das, Abdu...",[],http://www.thedailystar.net/news-detail-17312,The Daily Star,None,Front Page,NaN,NaN,None,None
2,{'$oid': '58afca9a5388c123849ed1c0'},NaN,None,[],NaN,Daniel Vettori and Brendon McCullum put on rec...,{'$date': '2017-02-24T00:54:34.466Z'},{'$date': '2008-01-01T00:00:00.000Z'},"[zealand, seven, balls, bangladesh, odi, vetto...",The match was over before the scheduled first ...,...,"[Aftab Ahmed, Zaheer, Jacob Oram, Vettori, Far...",[],http://www.thedailystar.net/news-detail-17353,The Daily Star,None,Front Page,NaN,NaN,Kiwis maul Tigers,None
3,{'$oid': '58afca9c5388c123849ed1c1'},NaN,Says BB governor,[],NaN,Bangladesh Bank (BB) Governor Salehuddin Ahmed...,{'$date': '2017-02-24T00:54:36.829Z'},{'$date': '2008-01-01T00:00:00.000Z'},"[wont, outgoing, essentials, soon, governor, i...",Bangladesh Bank in the new year will focus on ...,...,"[Salehuddin Ahmed, Cyclone Sidr]",[],http://www.thedailystar.net/news-detail-17325,The Daily Star,None,Front Page,NaN,NaN,Essentials prices won't go down soon,None
4,{'$oid': '58afca9f5388c123849ed1c2'},NaN,None,[],NaN,Justice KM Sobhan died of cardiac arrest at Bi...,{'$date': '2017-02-24T00:54:39.231Z'},{'$date': '2008-01-01T00:00:00.000Z'},"[passes, sons, sobhan, justice, away, shock, k...","Family sources said Justice Sobhan, also the p...",...,"[KM Sobhan, Ashraful Islam, Sobhan, Zillur Rah...",[],http://www.thedailystar.net/news-detail-17340,The Daily Star,None,Front Page,NaN,NaN,KM Sobhan passes away,None

In [5]:
def conv_to_datetime(date_dict):
    new_datetime = parser.parse(list(date_dict.items())[0][1], ignoretz=True)
    new_datetime = new_datetime.replace(hour=0, minute=0, second=0, microsecond=0)
    return new_datetime

In [6]:
dt['news_publish_date'] = dt['news_publish_date'].apply(conv_to_datetime)

In [7]:
dstar['date_published'] = dstar['date_published'].apply(conv_to_datetime)

In [8]:
dsun['date_published'] = pd.to_datetime(dsun['date_published'])

In [9]:
start_date = datetime(2013, 7, 8)
end_date = datetime(2016, 6, 14)

In [10]:
dt_new = dt.loc[(dt['news_publish_date']>=start_date) & (dt['news_publish_date']<=end_date)]

In [11]:
dstar_new = dstar.loc[(dstar['date_published']>=start_date) & (dstar['date_published']<=end_date)]

In [12]:
dsun_new = dsun.loc[(dsun['date_published']>=start_date) & (dsun['date_published']<=end_date)]

In [13]:
print("dt: {}, dstar: {}, dsun{}".format(dt_new.shape, dstar.shape, dt.shape))

dt: (46611, 17), dstar: (165236, 34), dsun(49055, 17)

In [14]:
dt_new = dt_new.reset_index(drop=True)
dstar_new = dstar_new.reset_index(drop=True)
dsun_new = dsun_new.reset_index(drop=True)

TODO: Need to do a groupby on news_publish_date/date_published and then apply the following function. Diff functions/conditions for dt and dstar/dsun due to how the data is stored

In [15]:
dsun_new.head()

,_id,date_published,image,news_content,news_id,newspaper,reporter,section,url,location_entities,organization_entities,person_entities
0,{'$oid': '5af4592318ce422f881bcaf4'},2013-07-08,"{'src': None, 'caption': None}",ATN BANGLA 19:00 22:00 23:00 Channel i 7:00 ...,123864,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/1238...,[],[],[]
1,{'$oid': '5af4592318ce422f881bcaf5'},2013-07-08,{'src': 'http://www.daily-sun.com/assets/news_...,Solo Art Exhibition By: Biren Shome At: Dhak...,123862,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/1238...,[],[Dhaka Art Centre ],[Dhanmondi]
2,{'$oid': '5af4592418ce422f881bcaf7'},2013-07-08,{'src': 'http://www.daily-sun.com/assets/news_...,NTV 08:45 Bengali Film: Benam Badsha 13:30 ...,123861,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/1238...,"[ Chaabi, 14:00 Saraswatichandra, Caribbean, ...","[Van Helsing, The Three Musketeers, 13:05, NTV...","[21:30 Damages, Veera, 11:30 Veera, Yeh Rishta..."
3,{'$oid': '5af4592418ce422f881bcaf8'},2013-07-08,{'src': 'http://www.daily-sun.com/assets/news_...,RADIO TODAY Islamic Program 12:30 News 1:4...,123863,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/1238...,[],"[ Islamic Program, VOA & RTD]",[Rupali Gaan]
4,{'$oid': '5af4592518ce422f881bcafa'},2013-07-08,{'src': 'http://www.daily-sun.com/assets/news_...,Victoria Beckham has revealed she struggles to...,123874,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/1238...,"[China, Vogue]",[],"[it\, Spice Girl - who, David Beckham -, Victo..."

In [16]:
# dsun_new.groupby('date_published')['location_entities'].sum().apply(collections.Counter, 1)

In [17]:
dsun_new.groupby('date_published').sum().agg({
    'location_entities': collections.Counter, 
    'organization_entities': collections.Counter,
    'person_entities': collections.Counter
})

,person_entities,location_entities,organization_entities
date_published,,,
2013-07-08,"{'Essex': 2, 'Gaaney Gaaney': 1, 'Giasuddin Se...","{'â€™We': 1, 'Bardeshi': 2, 'Brahmanbaria': 2, '...","{'Times Of India': 1, 'PGA Tour': 1, 'Manikgan..."
2013-07-09,"{' Proceed': 1, 'Mikhail Myasnikovich': 2, '...","{'â€™We': 1, 'Dashkahania': 1, 'Upholding': 1, '...","{'The Daily Mail': 1, 'Shaniera Thompson': 1, ..."
2013-07-10,"{'Giasuddin Selim': 1, 'Upazila': 1, 'Nasirudd...","{'USA': 1, 'Taiwan': 1, 'the Padma River': 1, ...","{'BRAC Bank Limited': 1, 'GER/Bayern Munich': ..."
2013-07-11,"{'Wembley': 1, 'Mohamed ElBaradei': 3, 'Warne'...","{'Middlesbrough': 1, 'Taiwan': 1, 'Aleppo': 1,...","{'Times Of India': 4, 'PGA Tour': 1, 'Monwar H..."
2013-07-12,"{'Patna': 1, 'Neha': 1, 'Rakibul Hasan': 2, 'P...","{'Guneet Monga': 1, 'Pyongyang': 2, 'Oregon': ...","{'Times Of India': 1, 'PGA Tour': 1, 'East Way..."
2013-07-13,"{'Muhammad Jobair': 1, 'Parvez Sikdar Panir': ...","{'Tongi': 1, 'Dhaka city': 1, ' Asr 04:45': 1,...","{'Apollo Hospital': 1, 'Safe Food Bill 2013â€™':..."
2013-07-14,"{'Robert Reich ': 2, 'Zia': 2, 'Denesh Ramdin...","{'Taiwan': 1, 'East Barulia': 2, 'Jiangmen Cit...","{'hawkersâ€™': 1, 'Times Of India': 2, 'KAMPALA'..."
2013-07-15,"{'Essex': 1, 'Gaaney Gaaney': 1, 'Mohamed ElBa...","{'Kamalapur': 1, 'Twitter': 2, 'Paduarbazar': ...","{'Liverpool Arsenal': 1, 'the Police Hall in ..."
2013-07-16,"{'Nababpur Krira Chakra': 1, 'Jacob': 1, 'Wemb...","{'Syria': 4, '14:00 Saraswatichandra': 2, 'Ati...","{'Times Of India': 2, 'Frandy Montrevil': 1, '..."
2013-07-17,"{'hawkersâ€™': 2, 'Lancaster': 1, 'processionâ€™':...","{'Hasin': 1, 'Taiwan': 1, 'Melbourne': 2, 'Nik...","{'Times Of India': 2, 'the Department of Histo..."
2013-07-18,"{'Essex': 1, 'Rubel': 2, 'Nasiruddin Yousuf Ba...","{'Konagaon village': 1, 'Syria': 1, 'Gama': 1,...","{'hawkersâ€™': 1, 'The Daily Mail': 1, 'Trent Br..."
2013-07-19,"{'Musa': 1, 'Qualifier': 1, 'Jayanta Chattopad...","{'Patna': 1, 'BEIJING': 1, 'South Korea': 2, '...","{'Rabid Imam': 1, 'Times Of India': 2, 'Border..."
2013-07-20,"{'Patna': 1, 'Sultan Mahmud Dollar': 2, 'Md Fa...","{'12:30 Megastructures': 1, 'Nyadomo': 1, 'Sou...","{'Times Of India': 1, 'Boghbotipur ': 1, 'Lon..."
2013-07-21,"{'Michael Moore': 1, 'Gaaney Gaaney': 1, '\""In...","{'Tokyo': 2, 'Dumuria': 1, ' Vitamin B Calciu...","{'Times Of India': 3, 'the Khulna Power Compan..."
2013-07-22,"{'Subedar Khorshed': 1, 'Philippe': 1, 'Md Raf...","{'Chapainawabganj': 2, 'Upazila': 2, 'the Midd...","{'Times Of India': 2, 'the National Election C..."
2013-07-23,"{'VP Rahul Gandhi': 1, 'Ziad Shatara': 1, 'Gaa...","{'Charjhaukanda': 1, 'CRICKET 08:30': 1, 'the...","{'Winged Foot': 1, 'Times Of India': 2, 'Credi..."
2013-07-24,"{'Defender Raul Albiol': 1, 'Essex': 1, 'Kevin...","{'BEIJING': 1, 'Hero': 2, 'Vietnam': 1, 'Finla...","{' Mosharraf': 2, 'Pandora': 1, 'the PLA Daily..."
2013-07-25,"{'Gaaney Gaaney': 1, 'Manasa': 1, 'Lawrence': ...","{'Upazila': 2, 'Feroz': 1, 'Ciara': 1, 'the co...","{'Times Of India': 4, 'Marvel\ s Avengers Asse..."
2013-07-26,"{'Aby Sayeed': 1, 'Gaaney Gaaney': 1, 'Ramnidi...","{'Patna': 1, 'Kamarpara village': 1, 'Taiwan':...","{'New Bilateral Order': 2, 'Times Of India': 2..."
2013-07-27,"{'Kitchee FC': 1, 'Wembley': 1, 'Kevin Gameiro...","{'Kamalapur': 2, 'Taiwan': 1, 'Kitchee': 1, 'L...","{'the US Department of Homeland Security': 2, ..."
2013-07-28,"{'Gaaney Gaaney': 1, ' ...","{'League': 1, 'Taiwan': 1, 'Pyongyang': 3, '23...","{'Times Of India': 3, 'Convener Chittaranjan S..."
2013-07-29,"{'Benjamin Netanyahu': 1, 'Shwe': 1, 'Mahfuzul...","{'BEIJING': 1, 'Jasimuddin': 2, 'the Teesta Ri...","{'Border Security Force': 2, 'BNP': 6, 'Nissan..."
2013-07-30,"{'Daughters Makaziwe': 1, 'Majnun Mizan': 1, '...","{'â€™We': 1, 'Syria': 1, 'The Briton': 1, 'Chapa...","{'Times Of India': 2, 'Mintu Quazi ': 1, 'Bra..."
2013-07-31,"{'Mozart': 1, 'Mallickbari': 1, 'Priyanka Chop...","{'Surah': 1, 'the Kuwait Amir': 2, 'Taiwan': 1...","{'Times Of India': 3, 'Comet ISON': 2, 'Employ..."
2013-08-01,"{'League': 2, 'Atiqul Islam': 2, 'San Lorenzo'...","{'Kamalapur': 2, 'South Korea': 4, 'Melbourne'...","{'DUCSU': 1, 'the Registrar Office': 1, 'the P..."
2013-08-02,"{'Diner Gaan': 1, '\""In': 1, 'Warne': 1, 'Stev...","{'Manipur': 1, 'Kendra': 1, 'Taherpur': 2, 'Me...","{'Times Of India': 3, 'Credit Rating Agency': ..."
2013-08-03,"{'Rick Jaffa': 1, 'Banning Jamaat': 1, 'Abraha...","{'Abu Dhabi': 1, 'Complex': 1, 'Bolt': 1, 'Raj...","{'Times Of India': 2, 'Honumantola Market': 1,..."
2013-08-04,"{'Benazir Ahmed': 1, 'A380': 1, 'Ghatail': 1, ...","{'Ghatail': 1, 'Upazila': 1, 'Brest': 1, 'Maxu...","{'WTO': 1, 'Times Of India': 1, 'Changzhou Tri..."
2013-08-05,"{'Atiqun Nabi': 1, 'Carole': 1, 'Euro': 1, 'Ay...","{'NAV': 1, 'Jalalabad': 1, 'the Russian Federa...","{'Kamathipura': 1, 'Times Of India': 1, 'Bangl..."
2013-08-06,"{'Mir Ahmed': 1, 'Zia': 1, 'Majnun Mizan': 1, ...","{'Summit': 2, 'Wilder': 1, 'else.\': 1, 'New Y...","{'Times Of India': 5, 'â€œPower Division Control..."
...,...,...,...
2016-05-16,"{'Maung Shoi Wuu': 1, 'BIAC': 1, 'Techno Valle...","{'Abu Dhabi': 1, 'Carly Fiorinaâ€™s': 1, 'South ...","{'Jatiyo Kabita Parishad': 1, 'Border Security..."
2016-05-17,"{'Administration Badarganj Thana': 1, 'Masum-A...","{'Finland': 1, ' Mahipal II': 1, 'Iraq': 1, 'S...","{' Inspector': 1, 'Air Headquarters': 1, 'the ..."
2016-05-18,"{'Aynabaji ': 1, 'Alo Awards': 1, 'Taseer ':...","{'Wate': 1, 'Banashree': 1, 'Melbourne': 1, 'C...","{' Bangladesh Export Import Company Ltd.': 1, ..."
2016-05-19,"{'Alo Awards': 1, 'Indira Gandhi': 1, 'Mehool ...","{'Kinshasa': 1, 'Twitter': 2, 'the Democratic ...","{'the JnU Teachersâ€™ Association': 1, 'the U.S...."
2016-05-20,"{'Constantinos Litzerakos': 2, 'Ibn ul': 1, 'I...","{'Gazi Pir': 1, 'Nemom': 2, 'Nayapaltan': 1, '...","{'BRAC Education Programme': 1, 'the Buddha Pu..."
2016-05-21,"{'Sheikh Hasinaâ€™': 2, 'Alo Awards': 1, 'Aijan ...","{'Bangabhjanga': 1, 'Twitter': 2, 'Taiwan': 1,...","{'Dalbir Kaur': 1, 'Muggers': 1, 'Ehtesham': 1..."
2016-05-22,"{'Riverine': 1, 'Boussam ': 1, 'Uddin Ahmed F...","{'Manipur': 1, 'Hindu Musolman': 1, 'Taiwan': ...",{'Gates Foundation European Commission Minis...
2016-05-23,{},{},{}
2016-05-24,"{'Kazi Zafarullah': 2, 'Fakhrul': 2, 'Md Abdul...","{'BEIJING': 1, 'South-South and Triangular Coo...",{'Mayor Annisul Huq and Dhaka South City Corpo...
2016-05-25,"{'Nashid Kamal': 1, 'Priyanka Chopra': 1, 'Law...","{'USA': 1, 'Lohagara': 2, 'Nayapaltan': 1, 'Up...",{'Industrial and Agricultural Investment Compa...
2016-05-26,"{'Akter Hossain': 1, 'Nashid Kamal': 1, 'the R...","{'BEIJING': 3, 'BNP': 2, 'Taiwan': 2, 'Melbour...","{'Ismail Hossain Chowdhury': 2, ' Sirajul': 1,..."
2016-05-27,"{'Alo Awards': 1, 'Md Ameer Hossain': 1, 'Sala...","{'Chakaria': 1, 'South Korea': 2, 'Taiwan': 2,...","{'Times': 1, 'Kotwali Police Station Alamgir H..."
2016-05-28,"{'Dalbir Kaur': 1, ' 10:00': 1, ' ...","{'Barisal district': 2, 'the International Ibs...","{'Bangladeshi': 3, 'Chittagong University Alam..."
2016-05-29,"{'Mik': 1, 'Abdelwahab al-Saadi': 1, 'M Mazibu...","{'Texas': 1, 'MEXICO CITY': 1, 'Nayapaltan': 1...","{'WTO': 1, 'Krishna Cottage ': 1, 'IBFB': 1, ..."
2016-05-30,"{'Essex': 2, 'Khandaker Mosharraf Hossain': 1,...","{'Runners': 1, 'Agrabad': 1, 'Cincinnati': 2, ...","{' Inspector': 2, 'SNSM': 1, 'Muggers': 1, 'Ch..."
2016-05-31,"{'Madina Traders ': 2, 'M Mazibul': 2, 'Rabiu...","{'Egypt': 1, 'Senegal': 1, 'Bodhuboron ': 1, ...","{'BNP': 3, 'ASM': 1, 'Human Rights and Peace f..."
2016-06-01,"{'Jorge Rodriguez': 1, 'Abdelwahab al-Saadi': ...","{'Manipur': 1, 'Black Sea': 1, 'Nofiliya': 1, ...","{' Moodyâ€™s': 1, 'Bullard': 1, 'Mehdi Jaffar': ..."
2016-06-02,"{'Kamrul Islam Chowdhur': 2, 'Mary Poppins ':...","{'Zurich': 2, 'Lohagara': 1, 'Taqdeerwala': 1,...","{' MTB Centre ': 1, ' Wanted ': 1, 'ING': 1,..."
2016-06-03,"{'Joynal Abedin': 1, 'Gaffarul Islam': 2, 'Sid...","{'BEIJING': 1, 'Lohagara': 2, 'Saudi Arabia': ...","{'Rangpur District Food': 1, 'Flight Cadet Cou..."
2016-06-04,"{'Outreach Programmes': 1, 'Upazila': 1, 'Nasi...","{'Twitter': 1, 'Taiwan': 1, 'Nayapaltan': 2, '...","{'the University of Michigan': 1, 'American Mu..."
2016-06-05,"{'Mohammad Baki Billah': 1, 'Automation': 1, '...","{'Kinshasa': 2, 'BEIJING': 3, 'Lohagara': 2, '...","{'MT) ': 1, 'Interrogated Kamal': 1, 'Indepe..."
2016-06-06,"{'Alo Awards': 1, 'Lynn Everett': 1, 'Priyanka...","{'Rs20': 1, 'iPhones': 1, 'Delhi': 2, 'Upazila...","{' 23 persons': 1, 'The US Department of State..."
2016-06-07,"{'Banpara Christian Palli': 1, 'Hannah Davis':...","{'Mentionable Sri Lanka': 1, 'Helmand': 1, 'D...","{'Johnstons of Elgin': 1, 'Hill Plantation Ltd..."
2016-06-08,"{'Mungo Man': 2, 'Jalal Uddin ': 1, 'Tiorbila...","{'Taka 54': 1, 'H1B': 1, 'Upazila': 1, ' Irsha...","{'Meherabya Jami Mosque': 1, 'Karai': 1, 'the ..."
2016-06-09,"{'Haider Fadel': 1, 'Alo Awards': 1, 'VoIP Bar...","{'South Korea': 2, 'Taiwan': 1, 'the Democrati...","{'Incheon Aviation Tech Co.': 1, 'Muktijoddha ..."
2016-06-10,"{'Alo Awards': 1, 'Dinajpurer Kagaj': 1, 'Jahe...","{'Barisal district': 2, 'Twitter': 1, 'Agrabad...","{'NML Capital': 1, 'Dhaka Stock Exchange': 1, ..."
2016-06-11,"{'Abdelwahab al-Saadi': 1, 'M Mazibul': 2, 'Ra...","{'Manipur': 1, 'Tel Aviv': 1, 'Digdana village...","{' Shilpakala Academy 1 ': 1, 'the Badshah of..."
2016-06-12,"{'Expressing': 1, 'Walid': 1, 'Nezam Uddin': 1...","{'COAS': 1, 'Taiwan': 1, 'Upazila': 1, 'Kashmi...",{'Carlson School of Management University of ...
2016-06-13,"{'Telecommuni': 2, 'Salaam Mumbai': 1, 'Ma Yin...","{'Gangopara': 1, 'BEIJING': 1, 'Rs1.36': 1, ' ...","{'Independent': 1, 'the Jatiya Press Club': 1,..."
2016-06-14,"{'Karisma': 1, 'murdersâ€™': 2, 'Vardhman Textil...","{'Tokyo': 1, 'STOCKHOLM': 1, 'the Democratic R...","{'Bangladeshi': 2, 'Bangladesh Juba League Oma..."

In [24]:
dstar_new.groupby('date_published').sum().agg({
    'ner_unique_location': collections.Counter, 
    'ner_unique_organization': collections.Counter,
    'ner_unique_person': collections.Counter
})

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

KeyError: 'ner_unique_person'