In [1]:
import pandas as pd
from tqdm import tqdm
import re
import spacy
import os
import collections
import requests
from bs4 import BeautifulSoup
from unidecode import unidecode
import csv

tqdm.pandas()
nlp = spacy.load('en')

In [2]:
# os.chdir('Data/Daily Sun')
# files = [os.path.abspath(x) for x in os.listdir()]

In [3]:
# list_of_df = []
# for i in files:
#     df = pd.read_json(i, lines=True)
#     list_of_df.append(df)

# df = pd.concat(list_of_df, ignore_index=True)

In [4]:
# def find_entities(text):
#     doc = nlp(text)
#     location = []
#     organization = []
#     person = []
#     for entity in doc.ents:
#         if (entity.label_ == "LOC" or entity.label_ == "GPE"):
#             location.append(entity.text)
#         elif (entity.label_ == "ORG"):
#             organization.append(entity.text)
#         elif (entity.label_ == "PERSON"):
#             person.append(entity.text)
#     location = list(set(location))
#     organization = list(set(organization))
#     person = list(set(person))
#     return location, organization, person

In [5]:
# tqdm.pandas()
# df['location_entities'], df['organization_entities'], df['person_entities'] = zip(*df['news_content'].progress_apply(find_entities))

In [6]:
# def find_entities(text):
#     doc = nlp(text)
#     location = []
#     organization = []
#     person = []
#     for entity in doc.ents:
#         if (entity.label_ == "LOC" or entity.label_ == "GPE"):
#             location.append(entity.text)
#         elif (entity.label_ == "ORG"):
#             organization.append(entity.text)
#         elif (entity.label_ == "PERSON"):
#             person.append(entity.text)
#     location = list(set(location))
#     organization = list(set(organization))
#     person = list(set(person))
#     return location, organization, person

In [7]:
# def name_disambiguation(names):
#     disambiguated_names = []
#     for name in names:
#         if (name == "Khaleda" or name == "Zia" or name == "Begum Khaleda Zia" or name == "Khaleda Zia’s"):
#             disambiguated_names.append("Khaleda Zia")
#         elif (name == "Hasina" or name == "Sheikh"):
#             disambiguated_names.append("Sheikh Hasina")
#         elif (name == "Fakhrul"):
#             disambiguated_names.append("Mirza Fakhrul Islam Alamgir")
#         elif (name == "Muhith" or name == "AMA Muhith" or name == "MA Muhith"):
#             disambiguated_names.append("Abul Maal Abdul Muhith")
#         elif (name == "Nizami" or name == "Motiur Rahman"):
#             disambiguated_names.append("Motiur Rahman Nizami")
#         elif (name == "Modi"):
#             disambiguated_names.append("Narendra Modi")
#         elif (name == "Bangabandhu" or name == "Sheikh Mujib" or name == "Sheikh Mujib" or name == "Bangabandhu Sheikh Mujibur" or name == "Sheikh Mujibur Rahman" or name == "Mujibur Rahman"):
#             disambiguated_names.append("Bangabandhu Sheikh Mujibur Rahman")
#         elif (name == "Tarique"):
#             disambiguated_names.append("Tarique Rahman")
#         elif (name == "Avijit" or name == "Roy"):
#             disambiguated_names.append("Avijit Roy")
#         elif (name == "Mozena"):
#             disambiguated_names.append("Dan Mozena")
#         elif (name == "Yunus" or name == "Mohammad Yunus"):
#             disambiguated_names.append("Muhammad Yunus")
#         elif (name == "Obama"):
#             disambiguated_names.append("Barack Obama")
#         elif (name == "Trump"):
#             disambiguated_names.append("Donald Trump")
#         elif (name == "Tagore" or name == "Rabindranath" or name == "Robindronath" or name == "Rabindronath" or name == "Robindranath"):
#             disambiguated_names.append("Rabindranath Tagore")
#         elif (name == "Karzai"):
#             disambiguated_names.append("Hamid Karzai")
#         elif (name == "Zardari"):
#             disambiguated_names.append("Asif Ali Zardari")
#         else:
#             disambiguated_names.append(name)
#     return (list(set(disambiguated_names)))

In [8]:
# def org_disambiguation(orgs):
#     disambiguated_orgs = []
#     for org in orgs:
#         if (org == "AL" or org == "the Awami League"):
#             disambiguated_orgs.append("Awami League")
#         elif (org == "EU" or org == "the European Union"):
#             disambiguated_orgs.append("European Union")
#         elif (org == "BCL" or org == "Chhatra League"):
#             disambiguated_orgs.append("Bangladesh Chhatra League")
#         elif (org == "DU"):
#             disambiguated_orgs.append("Dhaka University")
#         elif (org == "the High Court" or org == "The High Court"):
#             disambiguated_orgs.append("High Court")
#         elif (org == "the World Bank"):
#             disambiguated_orgs.append("World Bank")
#         elif (org == "the Supreme Court"):
#             disambiguated_orgs.append("Supreme Court")
#         elif (org == "UN" or org == "the United Nations"):
#             disambiguated_orgs.append("United Nations")
#         elif (org == "EC" or org == "the Election Commission"):
#             disambiguated_orgs.append("Election Commission")
#         elif (org == "the Supreme Court"):
#             disambiguated_orgs.append("Supreme Court")
#         elif (org == "the White House"):
#             disambiguated_orgs.append("White House")
#         else:
#             disambiguated_orgs.append(org)
#     return (list(set(disambiguated_orgs)))

In [9]:
# def location_disambiguation(locations):
#     disambiguated_locs = []
#     for location in locations:
#         if (location == "the United States" or location == "US" or location == "U.S." or location == "the United States of America" or location == "The United States" or location == "USA"):
#             disambiguated_locs.append("United States")
#         elif (location == "UK" or location == "the United Kingdom"):
#             disambiguated_locs.append("United Kingdom")
#         elif (location == "Dhaka City"):
#             disambiguated_locs.append("Dhaka")
#         else:
#             disambiguated_locs.append(location)
#     return (list(set(disambiguated_locs)))

In [10]:
# def remove_whitespace(entities):
#     entities = [item.strip() for item in entities if not bool(re.match(r"^\s+$", item))]
#     return entities

In [11]:
# df['location_entities'] = df['location_entities'].apply(remove_whitespace)
# df['organization_entities'] = df['organization_entities'].apply(remove_whitespace)
# df['person_entities'] = df['person_entities'].apply(remove_whitespace)

In [12]:
# df['person_entities'] = df['person_entities'].apply(name_disambiguation)
# df['organization_entities'] = df['organization_entities'].apply(org_disambiguation)
# df['location_entities'] = df['location_entities'].apply(location_disambiguation)

In [13]:
# count_loc = []
# for row in df.iterrows():
#     count_loc.append(row[1]['location_entities'])

# count_loc_flat = [item for sublist in count_loc for item in sublist]
# collections.Counter(count_loc_flat).most_common()[:100]

In [14]:
# df.to_pickle('Data/Daily Sun/DailySun_ent_1.pkl')

In [15]:
df = pd.read_pickle('Data/Daily Sun/DailySun_ent_1.pkl')

In [16]:
df.head()

,_id,date_published,image,news_content,news_id,newspaper,reporter,section,url,location_entities,organization_entities,person_entities
0,{'$oid': '5af44bf218ce4223c32284b0'},2012-06-01,"{'caption': None, 'src': None}",ATN BANGLA 19:00 22:00 23:00 Channel i 7:00 ...,32538,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,[],[],[]
1,{'$oid': '5af44bf318ce4223c32284b1'},2012-06-01,"{'caption': None, 'src': 'http://www.daily-sun...",Channel i 18:00 City Bank N A Financial Quiz ...,32535,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[Rome, FIVB Beach Volleyball Swatch, Kalvakra,...","[Man Woman Wild, Scripps National Spelling Bee...","[Nibhana Saathiya, 21:30 Man, 20:45 Drama, 23:..."
2,{'$oid': '5af44bf318ce4223c32284b2'},2012-06-01,"{'caption': None, 'src': None}",Music lovers in Dhaka will be entertained with...,32533,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[Pakistan, Punjab, Hyderabad, India, Dhaka, De...","[the Pakistan High Commission, Dhaka]","[Sabri Qawals, Qawwali, Fateh Ali Khan]"
3,{'$oid': '5af44bf318ce4223c32284b3'},2012-06-01,"{'caption': None, 'src': 'http://www.daily-sun...",Group Art Exhibition Title- Freefall By- 5 y...,32536,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,[Bangladesh],"[Title-, 8:00pm Solo Art Exhibition, Artist...","[Bengal Art Lounge, Freefall, de Dhaka, 11:00p..."
4,{'$oid': '5af44bf418ce4223c32284b4'},2012-06-01,"{'caption': None, 'src': 'http://www.daily-sun...",With a number of rich feathers in his cap inc...,32539,dailysun,None,/culturetainment,http://www.daily-sun.com/arcprint/details/3253...,"[United States, New York, Kishoreganj, Crafts,...","[Hamiduzzaman, Hamiduzzaman Khan, GalleriKaya,...","[Hamid, Hamiduzzaman Khan, Hamiduzzaman, Ragha..."

In [24]:
def find_headline(url):
    content = requests.get(url).text
    soup = BeautifulSoup(content, 'lxml')
    # print(soup)
    title = soup.find('h2')
    if title:
        return (unidecode(title.text))
    else:
        return ''

In [18]:
# df['title'] = df['url'].progress_apply(find_headline)

In [23]:
with open('Data/Daily Sun/DS_headlines.csv', 'w') as outfile:
        writer = csv.writer(outfile)
        writer.writerow(["index", "title"])

In [ ]:
for _, row in tqdm(df.iterrows(), total=df.shape[0]):
    
    title = find_headline(row['url'])
    _id = row['_id']
    with open('Data/Daily Sun/DS_headlines.csv', 'a') as outfile:
        writer = csv.writer(outfile)
        writer.writerow([_id, title])

  1%|▏         | 4172/328748 [3:23:03<263:17:31,  2.92s/it]